<wm-page data-ng-controller="DeviceManagementPageController" pagetitle="Device Management" name="page1">
    <wm-header content="header" name="header1"></wm-header>
    <wm-top-nav content="topnav" name="top_nav1"></wm-top-nav>
    <wm-content name="content1">
        <wm-left-panel columnwidth="2" content="leftnav" name="left_panel1"></wm-left-panel>
        <wm-page-content columnwidth="10" name="page_content1">
            <wm-panel name="panel1" title="Devices" subheading="Use this page to allocate users to your devices">
                <wm-panel-footer name="panel_footer1">
                    <wm-livegrid formlayout="dialog" name="livegrid1">
                        <wm-grid gridfirstrowselect="true" readonlygrid="false" title="" dataset="bind:Variables.DeviceList.dataSet" navigation="None" name="grid1">
                            <wm-grid-column binding="deviceId" caption="Device Id" type="string" primary-key="true" generator="assigned" pcdisplay="true" mobiledisplay="true" show="true" readonly="false"></wm-grid-column>
                            <wm-grid-column binding="username" caption="Display Name" type="string" generator="assigned" pcdisplay="true" mobiledisplay="true" show="true" readonly="false"></wm-grid-column>
                            <wm-grid-column binding="user.fullName" caption="User" type="string" generator="assigned" pcdisplay="true" mobiledisplay="true" show="true" readonly="false"></wm-grid-column>
                            <wm-grid-column binding="rowOperations" caption="Actions" type="custom" readonly="true" pcdisplay="true" mobiledisplay="true" sortable="false" searchable="false" show="true"></wm-grid-column>
                            <wm-grid-row-action key="updaterow" display-name="" show="true" class="btn-transparent" iconclass="wi wi-pencil" title="Edit" action="editRow()"></wm-grid-row-action>
                        </wm-grid>
                        <wm-liveform novalidate="false" title="Device Details" formlayout="dialog" dataset="bind:Variables.DeviceList.dataSet" captionalign="left" captionposition="top" name="liveform1">
                            <wm-layoutgrid columns="1" name="layoutgrid1">
                                <wm-gridrow name="gridrow1">
                                    <wm-gridcolumn columnwidth="12" name="gridcolumn1">
                                        <wm-form-field name="deviceId" displayname="Device Id" show="true" primary-key="true" generator="assigned" key="deviceId" type="string" is-related="false" required="required" pc-display="true" mobile-display="true"
                                        widget="text" maxchars="255" readonly="true"></wm-form-field>
                                    </wm-gridcolumn>
                                </wm-gridrow>
                                <wm-gridrow name="gridrow2">
                                    <wm-gridcolumn columnwidth="12" name="gridcolumn2">
                                        <wm-form-field name="username" displayname="Display Name" show="true" primary-key="false" generator="assigned" key="username" type="string" is-related="false" pc-display="true" mobile-display="true" widget="text" maxchars="255"
                                        inputtype="text" regexp=".*" placeholder="Enter value"></wm-form-field>
                                    </wm-gridcolumn>
                                </wm-gridrow>
                                <wm-gridrow name="gridrow1">
                                    <wm-gridcolumn name="gridcolumn1" columnwidth="12">
                                        <wm-form-field name="user" displayname="User" show="true" primary-key="false" generator="assigned" key="user" type="list" is-related="true" pc-display="true" mobile-display="true" widget="select" regexp=".*" placeholder="Select value"
                                        displayexpression="fullName" dataset="bind:Variables.UserList.dataSet" datafield="All Fields" displayfield="fullName"></wm-form-field>
                                    </wm-gridcolumn>
                                </wm-gridrow>
                            </wm-layoutgrid>
                            <wm-form-action key="cancel" display-name="Cancel" show="true" class="form-cancel btn-secondary" iconclass="wi wi-cancel" title="Cancel" action="cancel()" type="button" update-mode="true"></wm-form-action>
                            <wm-form-action key="save" display-name="Save" show="true" class="form-save btn-success" iconclass="wi wi-save" title="Save" type="submit" update-mode="true"></wm-form-action>
                        </wm-liveform>
                    </wm-livegrid>
                </wm-panel-footer>
            </wm-panel>
        </wm-page-content>
    </wm-content>
    <wm-footer content="footer" name="footer1"></wm-footer>
</wm-page>