<wm-partial data-ng-controller="leftnavPageController" type="leftnav" name="partial1">
    <wm-nav type="pills" layout="stacked" name="nav1">
        <wm-nav-item name="nav_item1">
            <wm-anchor caption="Users" iconclass="wi wi-user" class="active" name="anchor1" on-click="goToPage_UserManagement" on-tap="goToPage_UserManagement"></wm-anchor>
        </wm-nav-item>
        <wm-nav-item name="nav_item2">
            <wm-anchor caption="Devices" iconclass="wi wi-phonelink-setup" name="anchor2" on-click="goToPage_DeviceManagement" on-tap="goToPage_DeviceManagement"></wm-anchor>
        </wm-nav-item>
        <wm-nav-item name="nav_item4">
            <wm-anchor name="anchor6_1" iconclass="wi wi-contact-phone" caption="Contacts" on-click="goToPage_ContactManagement" on-tap="goToPage_ContactManagement"></wm-anchor>
        </wm-nav-item>
        <wm-nav-item name="nav_item5">
            <wm-anchor name="anchor7" on-click="goToPage_ServiceConfiguration" on-tap="goToPage_ServiceConfiguration" caption="Service Configuration" iconclass="fa fa-gears"></wm-anchor>
        </wm-nav-item>
        <wm-nav-item name="nav_item6">
            <wm-anchor name="anchor8" on-click="goToPage_OrganisationDashboard" on-tap="goToPage_OrganisationDashboard" iconclass="fa fa-bar-chart" caption="Organisation Dashboard"></wm-anchor>
        </wm-nav-item>
        <wm-nav-item name="nav_item7">
            <wm-anchor name="anchor6" iconclass="wi wi-settings-input-composite" caption="Curaguard Admin" on-click="goToPage_OrganisationManagement" on-tap="goToPage_OrganisationManagement" accessroles="Curaguard Admin"></wm-anchor>
        </wm-nav-item>
        <wm-nav-item name="nav_item7_1">
            <wm-anchor name="anchor7_1" iconclass="wi wi-directions-walk" caption="Fall Incidents" on-click="goToPage_FallIncidentManagement" on-tap="goToPage_FallIncidentManagement"></wm-anchor>
        </wm-nav-item>
        <wm-nav-item name="nav_item8">
            <wm-anchor name="anchor8_1" iconclass="wi wi-multiline-chart" caption="User Dashboard" on-click="goToPage_UserDashboard" on-tap="goToPage_UserDashboard"></wm-anchor>
        </wm-nav-item>
    </wm-nav>
</wm-partial>