<wm-page data-ng-controller="RegisterPageController" name="page1">
    <wm-content name="content1">
        <wm-page-content columnwidth="12" name="page_content1">
            <wm-layoutgrid name="layoutgrid2" height="100%" backgroundimage="http://dev.wavemaker.com/templates/web/signup_social_v2.jpg" backgroundsize="100% 100%">
                <wm-gridrow name="gridrow4" height="100%">
                    <wm-gridcolumn columnwidth="12" name="gridcolumn11" class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3 col-lg-4 col-lg-offset-4" padding="15% unset unset unset">
                        <wm-form title="Create a new account" class="panel-default" name="signupForm" on-submit="registerVariable">
                            <wm-layoutgrid name="layoutgrid3_1">
                                <wm-gridrow name="gridrow10" padding="unset .5em">
                                    <wm-gridcolumn columnwidth="12" name="gridcolumn28" paddingunit="em">
                                        <wm-composite name="composite1">
                                            <wm-label class="col-md-3" name="wmFormSignupEmailLbl" width="100%" caption="Email" required="true"></wm-label>
                                            <wm-container class="col-md-9" name="container2" width="100%">
                                                <wm-text name="wmFormSignupSocialV2Email" placeholder="" type="email"></wm-text>
                                            </wm-container>
                                        </wm-composite>
                                    </wm-gridcolumn>
                                </wm-gridrow>
                                <wm-gridrow name="gridrow11" paddingunit="em">
                                    <wm-gridcolumn columnwidth="6" name="gridcolumn29" padding="unset .5em">
                                        <wm-composite name="composite2">
                                            <wm-label class="col-md-3" name="wmFormSignupPasswordLbl" width="100%" caption="Password" required="true"></wm-label>
                                            <wm-container class="col-md-9" name="container3" width="100%">
                                                <wm-text name="wmFormSignupPassword" placeholder="" type="password"></wm-text>
                                            </wm-container>
                                        </wm-composite>
                                    </wm-gridcolumn>
                                    <wm-gridcolumn columnwidth="6" name="gridcolumn30" padding="unset .5em">
                                        <wm-composite name="composite3">
                                            <wm-label class="col-md-3" name="wmSignupConfirmPassLbl" width="100%" caption="Confirm Password" required="true"></wm-label>
                                            <wm-container class="col-md-9" name="container4" width="100%">
                                                <wm-text name="wmFormSignupConfirmPass" placeholder="" type="password"></wm-text>
                                            </wm-container>
                                        </wm-composite>
                                    </wm-gridcolumn>
                                </wm-gridrow>
                                <wm-gridrow name="gridrow12" padding="1em unset">
                                    <wm-gridcolumn columnwidth="12" name="gridcolumn31" class="col-md-6" padding="unset .5em">
                                        <wm-buttongroup horizontalalign="right" class="form-action col-md-12" name="buttongroup1">
                                            <wm-button name="wmFormSignupCreateBtn" width="100%" caption="Create Account" class="btn-primary" type="submit"></wm-button>
                                        </wm-buttongroup>
                                    </wm-gridcolumn>
                                </wm-gridrow>
                                <wm-gridrow name="gridrow6" padding="2em .5em">
                                    <wm-gridcolumn columnwidth="12" name="gridcolumn14" borderstyle="solid" bordercolor="#CCC" borderwidth="1px unset unset unset"></wm-gridcolumn>
                                </wm-gridrow>
                                <wm-gridrow name="gridrow8_1" horizontalalign="center" padding="unset .5em">
                                    <wm-gridcolumn columnwidth="12" name="gridcolumn11_1">
                                        <wm-container name="container7" margin="-3.5em unset unset unset">
                                            <wm-label name="wmFormSignupConnectLbl" caption="OR Connect using" backgroundcolor="#FFF" class="h4" margin="0px unset" padding=".5em"></wm-label>
                                        </wm-container>
                                    </wm-gridcolumn>
                                </wm-gridrow>
                                <wm-gridrow name="gridrow7">
                                    <wm-gridcolumn columnwidth="12" name="gridcolumn10_1" padding=".5em unset">
                                        <wm-button name="wmFbBtn" caption="" iconclass="fa fa-facebook" class="btn-primary" backgroundcolor="#3b5998" bordercolor="#3b5998" borderstyle="solid" margin=".5em" padding=".5em 1em"></wm-button>
                                        <wm-button caption="" iconclass="fa fa-twitter" class="btn-primary" name="wmTwitterBtn" backgroundcolor="#55acee" bordercolor="#55acee" borderstyle="solid" margin=".5em" padding=".5em 1em"></wm-button>
                                        <wm-button caption="" iconclass="fa fa-google-plus" class="btn-primary" name="wmGPlusBtn" backgroundcolor="#dd4b39" bordercolor="#dd4b39" borderstyle="solid" margin=".5em" padding=".5em 1em"></wm-button>
                                    </wm-gridcolumn>
                                </wm-gridrow>
                            </wm-layoutgrid>
                        </wm-form>
                    </wm-gridcolumn>
                </wm-gridrow>
            </wm-layoutgrid>
        </wm-page-content>
    </wm-content>
</wm-page>