<wm-page data-ng-controller="ServiceConfigurationPageController" pagetitle="Service Configuration" name="page1">
    <wm-header content="header" name="header1"></wm-header>
    <wm-top-nav content="topnav" name="top_nav1"></wm-top-nav>
    <wm-content name="content1">
        <wm-left-panel columnwidth="2" content="leftnav" name="left_panel1"></wm-left-panel>
        <wm-page-content columnwidth="10" name="page_content1">
            <wm-panel name="panel1" title="Service Configuration" subheading="Use this page to configure the service settings for individual users">
                <wm-panel-footer name="panel_footer1">
                    <wm-layoutgrid name="layoutgrid1">
                        <wm-gridrow name="gridrow1">
                            <wm-gridcolumn columnwidth="4" name="gridcolumn9_1"></wm-gridcolumn>
                            <wm-gridcolumn columnwidth="4" name="gridcolumn10"></wm-gridcolumn>
                            <wm-gridcolumn columnwidth="4" name="gridcolumn11">
                                <wm-select name="select1" dataset="bind:Variables.UserList.dataSet" datafield="userId" displayfield="fullName" placeholder="Please select a user" width="100%" datavalue="bind:pageParams.DefaultUserId" on-change="changeUser"></wm-select>
                            </wm-gridcolumn>
                        </wm-gridrow>
                        <wm-gridrow name="gridrow2">
                            <wm-gridcolumn columnwidth="1" name="gridcolumn18_1">
                                <wm-icon name="icon1" iconclass="fa fa-user fa-3x"></wm-icon>
                            </wm-gridcolumn>
                            <wm-gridcolumn columnwidth="11" name="gridcolumn4">
                                <wm-label name="label3" caption="bind:Widgets.select1.datavalue.fullName" width="100%" fontweight="bold" fontsize="26" fontunit="pt" horizontalalign="left"></wm-label>
                            </wm-gridcolumn>
                        </wm-gridrow>
                        <wm-gridrow name="gridrow4">
                            <wm-gridcolumn columnwidth="4" name="gridcolumn12"></wm-gridcolumn>
                        </wm-gridrow>
                        <wm-gridrow name="gridrow3">
                            <wm-gridcolumn columnwidth="12" name="gridcolumn7">
                                <wm-tabs name="tabs1">
                                    <wm-tabpane name="tabpane1" title="Devices" paneicon="fa fa-mobile-phone fa-2x">
                                        <wm-panel name="panel4" title="" subheading="Manage the devices associated with this user.">
                                            <wm-panel-footer name="panel_footer4"></wm-panel-footer>
                                            <wm-livegrid formlayout="dialog" name="livegrid1">
                                                <wm-grid gridfirstrowselect="true" readonlygrid="false" title="" dataset="bind:Variables.selectedUserDevices.dataSet" navigation="None" name="grid1">
                                                    <wm-grid-column binding="deviceId" caption="Device Id" type="string" primary-key="true" generator="assigned" pcdisplay="true" mobiledisplay="true" show="true" readonly="false"></wm-grid-column>
                                                    <wm-grid-column binding="username" caption="Display Name" type="string" generator="assigned" pcdisplay="true" mobiledisplay="true" show="true" readonly="false"></wm-grid-column>
                                                    <wm-grid-column binding="monitoringDurationSecs" caption="Monitoring Duration Secs" type="big_decimal" generator="assigned" pcdisplay="true" mobiledisplay="true" show="true" readonly="false"></wm-grid-column>
                                                    <wm-grid-column binding="monitoringIntervalSecs" caption="Monitoring Interval Secs" type="big_decimal" generator="assigned" pcdisplay="true" mobiledisplay="true" show="true" readonly="false"></wm-grid-column>
                                                    <wm-grid-column binding="consecutiveHeartRateReadingsRequired" caption="Consecutive Heart Rate Readings Required" type="big_decimal" generator="assigned" pcdisplay="true" mobiledisplay="true"
                                                    show="true" readonly="false"></wm-grid-column>
                                                    <wm-grid-column binding="impactEventThreshold" caption="Impact Event Threshold" type="big_decimal" generator="assigned" pcdisplay="true" mobiledisplay="true" show="true" readonly="false"></wm-grid-column>
                                                    <wm-grid-column binding="fallImpactThreshold" caption="Fall Impact Threshold" type="big_decimal" generator="assigned" pcdisplay="true" mobiledisplay="true" show="true" readonly="false"></wm-grid-column>
                                                    <wm-grid-column binding="loggingLevel" caption="Logging Level" type="big_decimal" generator="assigned" pcdisplay="true" mobiledisplay="true" show="true" readonly="false"></wm-grid-column>
                                                    <wm-grid-column binding="featureBleEnabled" caption="BLE Enabled" type="boolean" widget-type="checkbox" generator="assigned" pcdisplay="true" mobiledisplay="true" show="true" readonly="false">
                                                        <input type="checkbox" ng-model="row['featureBleEnabled']" ng-disabled="{{colDef.readonly || !isGridEditMode}}" class="" data-ng-class="">
                                                    </wm-grid-column>
                                                    <wm-grid-column binding="featureFallDetectEnabled" caption="Fall Detect Enabled" type="boolean" widget-type="checkbox" generator="assigned" pcdisplay="true" mobiledisplay="true" show="true" readonly="false">
                                                        <input type="checkbox" ng-model="row['featureFallDetectEnabled']" ng-disabled="{{colDef.readonly || !isGridEditMode}}" class="" data-ng-class="">
                                                    </wm-grid-column>
                                                    <wm-grid-column binding="featureRemindersEnabled" caption="Notifications Enabled" type="boolean" widget-type="checkbox" generator="assigned" pcdisplay="true" mobiledisplay="true" show="true" readonly="false">
                                                        <input type="checkbox" ng-model="row['featureRemindersEnabled']" ng-disabled="{{colDef.readonly || !isGridEditMode}}" class="" data-ng-class="">
                                                    </wm-grid-column>
                                                    <wm-grid-column binding="rowOperations" caption="Actions" type="custom" readonly="true" pcdisplay="true" mobiledisplay="true" sortable="false" searchable="false" show="true"></wm-grid-column>
                                                    <wm-grid-row-action key="updaterow" display-name="" show="true" class="btn-transparent" iconclass="wi wi-pencil" title="Edit" action="editRow()"></wm-grid-row-action>
                                                </wm-grid>
                                                <wm-liveform novalidate="false" title="Edit Device Monitoring Settings" formlayout="dialog" dataset="bind:Variables.selectedUserDevices.dataSet" captionalign="left" captionposition="top" name="liveform1">
                                                    <wm-layoutgrid columns="3" name="layoutgrid2">
                                                        <wm-gridrow name="gridrow5">
                                                            <wm-gridcolumn columnwidth="4" name="gridcolumn13">
                                                                <wm-form-field name="deviceId" displayname="Device Id" show="true" primary-key="true" generator="assigned" key="deviceId" type="string" is-related="false" required="required" pc-display="true"
                                                                mobile-display="true" widget="text" maxchars="255" readonly="true"></wm-form-field>
                                                            </wm-gridcolumn>
                                                            <wm-gridcolumn columnwidth="4" name="gridcolumn14">
                                                                <wm-form-field name="username" displayname="Display Name" show="true" primary-key="false" generator="assigned" key="username" type="string" is-related="false" pc-display="true" mobile-display="true"
                                                                widget="text" maxchars="255" inputtype="text" regexp=".*" placeholder="Enter value"></wm-form-field>
                                                            </wm-gridcolumn>
                                                            <wm-gridcolumn columnwidth="4" name="gridcolumn15">
                                                                <wm-form-field name="consecutiveHeartRateReadingsRequired" displayname="Consecutive Heart Rate Readings Required" show="true" primary-key="false" generator="assigned" key="consecutiveHeartRateReadingsRequired"
                                                                type="big_decimal" is-related="false" pc-display="true" mobile-display="true" step="1e-9" widget="number" inputtype="number" regexp=".*" placeholder="Enter value"></wm-form-field>
                                                            </wm-gridcolumn>
                                                        </wm-gridrow>
                                                        <wm-gridrow name="gridrow6">
                                                            <wm-gridcolumn columnwidth="4" name="gridcolumn16">
                                                                <wm-form-field name="featureFallDetectEnabled" displayname="Fall Detect Enabled" show="true" primary-key="false" generator="assigned" key="featureFallDetectEnabled" type="boolean" is-related="false"
                                                                pc-display="true" mobile-display="true" widget="checkbox" regexp=".*" placeholder=""></wm-form-field>
                                                            </wm-gridcolumn>
                                                            <wm-gridcolumn columnwidth="4" name="gridcolumn17">
                                                                <wm-form-field name="loggingLevel" displayname="Logging Level" show="true" primary-key="false" generator="assigned" key="loggingLevel" type="big_decimal" is-related="false" pc-display="true"
                                                                mobile-display="true" step="1e-9" widget="select" dataset="bind:Variables.selectedUserDevices.dataSet" datafield="loggingLevel" displayfield="loggingLevel" regexp=".*" placeholder="Select value"></wm-form-field>
                                                            </wm-gridcolumn>
                                                            <wm-gridcolumn columnwidth="4" name="gridcolumn18">
                                                                <wm-form-field name="impactEventThreshold" displayname="Impact Event Threshold" show="true" primary-key="false" generator="assigned" key="impactEventThreshold" type="big_decimal" is-related="false"
                                                                pc-display="true" mobile-display="true" step="1e-9" widget="number" dataset="bind:Variables.selectedUserDevices.dataSet" datafield="loggingLevel" displayfield="loggingLevel" inputtype="number"
                                                                regexp=".*" placeholder="Enter value"></wm-form-field>
                                                            </wm-gridcolumn>
                                                        </wm-gridrow>
                                                        <wm-gridrow name="gridrow7">
                                                            <wm-gridcolumn columnwidth="4" name="gridcolumn19">
                                                                <wm-form-field name="featureBleEnabled" displayname="BLE Enabled" show="true" primary-key="false" generator="assigned" key="featureBleEnabled" type="boolean" is-related="false" pc-display="true"
                                                                mobile-display="true" widget="checkbox" dataset="bind:Variables.selectedUserDevices.dataSet" datafield="loggingLevel" displayfield="loggingLevel" regexp=".*" placeholder=""></wm-form-field>
                                                            </wm-gridcolumn>
                                                            <wm-gridcolumn columnwidth="4" name="gridcolumn20">
                                                                <wm-form-field name="monitoringDurationSecs" displayname="Monitoring Duration Secs" show="true" primary-key="false" generator="assigned" key="monitoringDurationSecs" type="big_decimal" is-related="false"
                                                                pc-display="true" mobile-display="true" step="1e-9" widget="number" inputtype="number" regexp=".*" placeholder="Enter value"></wm-form-field>
                                                            </wm-gridcolumn>
                                                            <wm-gridcolumn columnwidth="4" name="gridcolumn21">
                                                                <wm-form-field name="fallImpactThreshold" displayname="Fall Impact Threshold" show="true" primary-key="false" generator="assigned" key="fallImpactThreshold" type="big_decimal" is-related="false"
                                                                pc-display="true" mobile-display="true" step="1e-9" widget="number" inputtype="number" regexp=".*" placeholder="Enter value"></wm-form-field>
                                                            </wm-gridcolumn>
                                                        </wm-gridrow>
                                                        <wm-gridrow name="gridrow8">
                                                            <wm-gridcolumn columnwidth="4" name="gridcolumn22">
                                                                <wm-form-field name="featureRemindersEnabled" displayname="Reminders Enabled" show="true" primary-key="false" generator="assigned" key="featureRemindersEnabled" type="boolean" is-related="false"
                                                                pc-display="true" mobile-display="true" widget="checkbox" regexp=".*" placeholder=""></wm-form-field>
                                                            </wm-gridcolumn>
                                                            <wm-gridcolumn name="gridcolumn1" columnwidth="4">
                                                                <wm-form-field name="monitoringIntervalSecs" displayname="Monitoring Interval Secs" show="true" primary-key="false" generator="assigned" key="monitoringIntervalSecs" type="big_decimal" is-related="false"
                                                                pc-display="true" mobile-display="true" step="1e-9" widget="number" inputtype="number" regexp=".*" placeholder="Enter value"></wm-form-field>
                                                            </wm-gridcolumn>
                                                        </wm-gridrow>
                                                    </wm-layoutgrid>
                                                    <wm-form-action key="cancel" display-name="Cancel" show="true" class="form-cancel btn-secondary" iconclass="wi wi-cancel" title="Cancel" action="cancel()" type="button" update-mode="true"></wm-form-action>
                                                    <wm-form-action key="save" display-name="Save" show="true" class="form-save btn-success" iconclass="wi wi-save" title="Save" type="submit" update-mode="true"></wm-form-action>
                                                </wm-liveform>
                                            </wm-livegrid>
                                        </wm-panel>
                                    </wm-tabpane>
                                    <wm-tabpane name="tabpane2" title="Alert Contacts" paneicon="fa fa-users fa-2x">
                                        <wm-panel name="panel3" subheading="Manage the contacts who will receive alerts for this user." title="">
                                            <wm-panel-footer name="panel_footer3"></wm-panel-footer>
                                            <wm-livegrid formlayout="dialog" name="livegrid5">
                                                <wm-grid gridfirstrowselect="true" readonlygrid="false" title="" dataset="bind:Variables.selectedUserContacts.dataSet" navigation="None" name="grid5">
                                                    <wm-grid-column binding="contact.contactName" caption="Contact Name" type="string" generator="assigned" pcdisplay="true" mobiledisplay="true" show="true" readonly="false"></wm-grid-column>
                                                    <wm-grid-column binding="contact.smsNumber" caption="Sms Number" type="string" generator="assigned" pcdisplay="true" mobiledisplay="true" show="true" readonly="false"></wm-grid-column>
                                                    <wm-grid-column binding="contact.emailAddress" caption="Email Address" type="string" generator="assigned" pcdisplay="true" mobiledisplay="true" show="true" readonly="false"></wm-grid-column>
                                                    <wm-grid-column binding="contact.isActiveFlag" caption="Active Flag" type="boolean" generator="assigned" pcdisplay="true" mobiledisplay="true" show="true" readonly="false"></wm-grid-column>
                                                    <wm-grid-column binding="rowOperations" caption="Actions" type="custom" readonly="true" pcdisplay="true" mobiledisplay="true" sortable="false" searchable="false" show="true"></wm-grid-column>
                                                    <wm-grid-action key="addNewRow" display-name="New" show="true" class="btn-primary" iconclass="wi wi-plus" title="New" action="addNewRow()"></wm-grid-action>
                                                    <wm-grid-row-action key="deleterow" display-name="" show="true" class="btn-transparent" iconclass="wi wi-trash" title="Delete" action="deleteRow()"></wm-grid-row-action>
                                                </wm-grid>
                                                <wm-liveform novalidate="false" title="Add Contact" formlayout="dialog" dataset="bind:Variables.selectedUserContacts.dataSet" captionalign="left" captionposition="top" name="liveform5">
                                                    <wm-layoutgrid columns="1" name="layoutgrid6">
                                                        <wm-gridrow name="gridrow18_1">
                                                            <wm-gridcolumn columnwidth="12" name="gridcolumn28_1">
                                                                <wm-form-field name="contact" displayname="Contact" show="true" primary-key="true" generator="assigned" key="contact" type="list" is-related="true" required="required" pc-display="true" mobile-display="true"
                                                                widget="select" regexp=".*" placeholder="Select value" displayexpression="contactName"></wm-form-field>
                                                            </wm-gridcolumn>
                                                        </wm-gridrow>
                                                        <wm-gridrow name="gridrow19">
                                                            <wm-gridcolumn columnwidth="12" name="gridcolumn29">
                                                                <wm-form-field name="user" displayname="User" show="false" primary-key="true" generator="assigned" key="user" type="list" is-related="true" required="required" pc-display="true" mobile-display="true"
                                                                widget="select" regexp=".*" placeholder="Select value" defaultvalue="bind:Variables.selectedUser.dataSet.data[0]"></wm-form-field>
                                                            </wm-gridcolumn>
                                                        </wm-gridrow>
                                                    </wm-layoutgrid>
                                                    <wm-form-action key="cancel" display-name="Cancel" show="true" class="form-cancel btn-secondary" iconclass="wi wi-cancel" title="Cancel" action="cancel()" type="button" update-mode="true"></wm-form-action>
                                                    <wm-form-action key="save" display-name="Save" show="true" class="form-save btn-success" iconclass="wi wi-save" title="Save" type="submit" update-mode="true"></wm-form-action>
                                                </wm-liveform>
                                            </wm-livegrid>
                                        </wm-panel>
                                    </wm-tabpane>
                                    <wm-tabpane name="tabpane3" title="Alerts" paneicon="fa fa-warning fa-2x">
                                        <wm-panel name="panel2" title="" subheading="Manage the alerts associated with this user.">
                                            <wm-panel-footer name="panel_footer2"></wm-panel-footer>
                                            <wm-livegrid formlayout="dialog" name="livegrid3">
                                                <wm-grid gridfirstrowselect="true" readonlygrid="false" title="" dataset="bind:Variables.selectedUserAlerts.dataSet" navigation="None" name="grid3">
                                                    <wm-grid-column binding="alert.alertCategory" caption="Category" type="string" generator="assigned" pcdisplay="true" mobiledisplay="true" show="true" readonly="false"></wm-grid-column>
                                                    <wm-grid-column binding="alert.alertName" caption="Name" type="string" generator="assigned" pcdisplay="true" mobiledisplay="true" show="true" readonly="false"></wm-grid-column>
                                                    <wm-grid-column binding="alert.alertDescription" caption="Description" type="string" generator="assigned" pcdisplay="true" mobiledisplay="true" show="true" readonly="false"></wm-grid-column>
                                                    <wm-grid-column binding="alert.isActiveFlag" caption="Active Flag" type="boolean" widget-type="checkbox" generator="assigned" pcdisplay="true" mobiledisplay="true" show="true" readonly="false">
                                                        <input type="checkbox" ng-model="row['alert.isActiveFlag']" ng-disabled="{{colDef.readonly || !isGridEditMode}}" class="" data-ng-class="">
                                                    </wm-grid-column>
                                                    <wm-grid-column binding="rowOperations" caption="Actions" type="custom" readonly="true" pcdisplay="true" mobiledisplay="true" sortable="false" searchable="false" show="true"></wm-grid-column>
                                                    <wm-grid-action key="addNewRow" display-name="New" show="true" class="btn-primary" iconclass="wi wi-plus" title="New" action="addNewRow()"></wm-grid-action>
                                                    <wm-grid-row-action key="deleterow" display-name="" show="true" class="btn-transparent" iconclass="wi wi-trash" title="Delete" action="deleteRow()"></wm-grid-row-action>
                                                </wm-grid>
                                                <wm-liveform novalidate="false" title="Add Alert" formlayout="dialog" dataset="bind:Variables.selectedUserAlerts.dataSet" captionalign="left" captionposition="top" name="liveform3">
                                                    <wm-layoutgrid columns="1" name="layoutgrid4">
                                                        <wm-gridrow name="gridrow11">
                                                            <wm-gridcolumn columnwidth="12" name="gridcolumn21_1">
                                                                <wm-form-field name="alert" displayname="Alert" show="true" primary-key="true" generator="assigned" key="alert" type="list" is-related="true" required="required" pc-display="true" mobile-display="true"
                                                                widget="select" regexp=".*" placeholder="Select value" displayexpression="alertName + ' - ' + alertDescription"></wm-form-field>
                                                            </wm-gridcolumn>
                                                        </wm-gridrow>
                                                    </wm-layoutgrid>
                                                    <wm-form-field name="user" displayname="User" show="false" primary-key="true" generator="assigned" key="user" type="list" is-related="true" required="required" pc-display="true" mobile-display="true"
                                                    widget="select" regexp=".*" placeholder="Select value" displayexpression="fullName" defaultvalue="bind:Variables.selectedUser.dataSet.data[0]"></wm-form-field>
                                                    <wm-form-action key="cancel" display-name="Cancel" show="true" class="form-cancel btn-secondary" iconclass="wi wi-cancel" title="Cancel" action="cancel()" type="button" update-mode="true"></wm-form-action>
                                                    <wm-form-action key="save" display-name="Save" show="true" class="form-save btn-success" iconclass="wi wi-save" title="Save" type="submit" update-mode="true"></wm-form-action>
                                                </wm-liveform>
                                            </wm-livegrid>
                                        </wm-panel>
                                    </wm-tabpane>
                                    <wm-tabpane name="tabpane4" title="Notifications" paneicon="fa fa-comments fa-2x">
                                        <wm-panel name="panel5" subheading="Manage the notifications associated with this user." title="">
                                            <wm-panel-footer name="panel_footer5"></wm-panel-footer>
                                            <wm-livegrid formlayout="dialog" name="livegrid4">
                                                <wm-grid gridfirstrowselect="true" readonlygrid="false" title="" dataset="bind:Variables.selectedUserNotifications.dataSet" navigation="None" name="grid4">
                                                    <wm-grid-column binding="bandNotification.bandNotificationName" caption="Name" type="string" generator="assigned" pcdisplay="true" mobiledisplay="true" show="true" readonly="false"></wm-grid-column>
                                                    <wm-grid-column binding="bandNotification.bandNotificationDescription" caption="Description" type="string" generator="assigned" pcdisplay="true" mobiledisplay="true" show="true" readonly="false"></wm-grid-column>
                                                    <wm-grid-column binding="bandNotification.bandNotificationMessage" caption="Message" type="string" generator="assigned" pcdisplay="true" mobiledisplay="true" show="true" readonly="false"></wm-grid-column>
                                                    <wm-grid-column binding="notificationRecurrenceType.recurrenceTypeName" caption="Recurrence Type" type="string" generator="assigned" pcdisplay="true" mobiledisplay="true" show="true"
                                                    readonly="false"></wm-grid-column>
                                                    <wm-grid-column binding="recurrencePeriod" caption="Recurrence Period" type="integer" generator="assigned" pcdisplay="true" mobiledisplay="true" show="true" readonly="false"></wm-grid-column>
                                                    <wm-grid-column binding="lastNotification" caption="Last Notification" type="timestamp" generator="assigned" datepattern="dd-MMM-yy HH:mm:ss" formatpattern="toDate" pcdisplay="true"
                                                    mobiledisplay="true" show="true" readonly="false"></wm-grid-column>
                                                    <wm-grid-column binding="nextNotification" caption="Next Notification" type="timestamp" generator="assigned" datepattern="dd-MMM-yy HH:mm:ss" formatpattern="toDate" pcdisplay="true"
                                                    mobiledisplay="true" show="true" readonly="false"></wm-grid-column>
                                                    <wm-grid-column binding="rowOperations" caption="Actions" type="custom" readonly="true" pcdisplay="true" mobiledisplay="true" sortable="false" searchable="false" show="true"></wm-grid-column>
                                                    <wm-grid-action key="addNewRow" display-name="New" show="true" class="btn-primary" iconclass="wi wi-plus" title="New" action="addNewRow()"></wm-grid-action>
                                                    <wm-grid-row-action key="updaterow" display-name="" show="true" class="btn-transparent" iconclass="wi wi-pencil" title="Edit" action="editRow()"></wm-grid-row-action>
                                                    <wm-grid-row-action key="deleterow" display-name="" show="true" class="btn-transparent" iconclass="wi wi-trash" title="Delete" action="deleteRow()"></wm-grid-row-action>
                                                </wm-grid>
                                                <wm-liveform novalidate="false" title="Usernotifications Info" formlayout="dialog" dataset="bind:Variables.selectedUserNotifications.dataSet" captionalign="left" captionposition="top" name="liveform4">
                                                    <wm-layoutgrid columns="1" name="layoutgrid5">
                                                        <wm-gridrow name="gridrow13">
                                                            <wm-gridcolumn columnwidth="12" name="gridcolumn23_1">
                                                                <wm-form-field name="user" displayname="User" show="false" primary-key="true" generator="assigned" key="user" type="list" is-related="true" required="required" pc-display="true" mobile-display="true"
                                                                widget="select" regexp=".*" placeholder="Select value" displayexpression="fullName" defaultvalue="bind:Variables.selectedUser.dataSet.data[0]" readonly="true"></wm-form-field>
                                                            </wm-gridcolumn>
                                                        </wm-gridrow>
                                                        <wm-gridrow name="gridrow14">
                                                            <wm-gridcolumn columnwidth="12" name="gridcolumn24">
                                                                <wm-form-field name="bandNotification" displayname="Notification" show="true" primary-key="true" generator="assigned" key="bandNotification" type="list" is-related="true" required="required"
                                                                pc-display="true" mobile-display="true" widget="select" regexp=".*" placeholder="Select value" displayexpression="bandNotificationName" dataset="bind:Variables.availableNotifications.dataSet"
                                                                datafield="All Fields" displayfield="bandNotificationName"></wm-form-field>
                                                            </wm-gridcolumn>
                                                        </wm-gridrow>
                                                        <wm-gridrow name="gridrow15">
                                                            <wm-gridcolumn columnwidth="12" name="gridcolumn25">
                                                                <wm-form-field name="notificationRecurrenceType" displayname="Recurrence Type" show="true" primary-key="false" generator="assigned" key="notificationRecurrenceType" type="list" is-related="true"
                                                                required="required" pc-display="true" mobile-display="true" widget="select" regexp=".*" placeholder="Select value" displayexpression="recurrenceTypeName"></wm-form-field>
                                                            </wm-gridcolumn>
                                                        </wm-gridrow>
                                                        <wm-gridrow name="gridrow16">
                                                            <wm-gridcolumn columnwidth="12" name="gridcolumn26">
                                                                <wm-form-field name="recurrencePeriod" displayname="Recurrence Period" show="true" primary-key="false" generator="assigned" key="recurrencePeriod" type="integer" is-related="false" pc-display="true"
                                                                mobile-display="true" step="0" widget="number" inputtype="number" regexp=".*" placeholder="Enter value"></wm-form-field>
                                                            </wm-gridcolumn>
                                                        </wm-gridrow>
                                                        <wm-gridrow name="gridrow17">
                                                            <wm-gridcolumn columnwidth="12" name="gridcolumn27">
                                                                <wm-form-field name="lastNotification" displayname="Last Notification" show="true" primary-key="false" generator="assigned" key="lastNotification" type="timestamp" is-related="false" pc-display="true"
                                                                mobile-display="true" widget="timestamp" regexp=".*" placeholder="Select date time"></wm-form-field>
                                                            </wm-gridcolumn>
                                                        </wm-gridrow>
                                                        <wm-gridrow name="gridrow18">
                                                            <wm-gridcolumn columnwidth="12" name="gridcolumn28">
                                                                <wm-form-field name="nextNotification" displayname="Next Notification" show="true" primary-key="false" generator="assigned" key="nextNotification" type="timestamp" is-related="false" pc-display="true"
                                                                mobile-display="true" widget="timestamp" regexp=".*" placeholder="Select date time"></wm-form-field>
                                                            </wm-gridcolumn>
                                                        </wm-gridrow>
                                                    </wm-layoutgrid>
                                                    <wm-form-action key="cancel" display-name="Cancel" show="true" class="form-cancel btn-secondary" iconclass="wi wi-cancel" title="Cancel" action="cancel()" type="button" update-mode="true"></wm-form-action>
                                                    <wm-form-action key="save" display-name="Save" show="true" class="form-save btn-success" iconclass="wi wi-save" title="Save" type="submit" update-mode="true"></wm-form-action>
                                                </wm-liveform>
                                            </wm-livegrid>
                                        </wm-panel>
                                    </wm-tabpane>
                                </wm-tabs>
                            </wm-gridcolumn>
                        </wm-gridrow>
                    </wm-layoutgrid>
                </wm-panel-footer>
            </wm-panel>
        </wm-page-content>
    </wm-content>
    <wm-footer content="footer" name="footer1"></wm-footer>
</wm-page>