<wm-partial data-ng-controller="headerPageController" name="header" type="header">
    <wm-layoutgrid name="headerlayout">
        <wm-gridrow name="headerrow" height="70">
            <wm-gridcolumn name="headerleft" verticalalign="middle" columnwidth="3">
                <wm-picture picturesource="resources/images/imagelists/curaguard-logo-screen.png" name="AppLogo" margin="5px unset unset 5px" height="50"></wm-picture>
            </wm-gridcolumn>
            <wm-gridcolumn columnwidth="4" name="gridcolumn3"></wm-gridcolumn>
            <wm-gridcolumn name="headerright" horizontalalign="left" verticalalign="middle" columnwidth="5" padding="1em 1em unset unset">
                <wm-layoutgrid name="layoutgrid2">
                    <wm-gridrow name="gridrow2">
                        <wm-gridcolumn columnwidth="12" name="gridcolumn4">
                            <wm-label name="label2" caption="bind:Variables.CurrentUser.dataSet.data[$i].fullName" horizontalalign="right" textalign="right" width="100%" fontsize="17"></wm-label>
                        </wm-gridcolumn>
                    </wm-gridrow>
                    <wm-gridrow name="gridrow3">
                        <wm-gridcolumn columnwidth="12" name="gridcolumn7">
                            <wm-label name="label3" caption="bind:Variables.CurrentUser.dataSet.data[$i].organisation.organisationName" horizontalalign="right" width="100%" fontsize="13"></wm-label>
                        </wm-gridcolumn>
                    </wm-gridrow>
                </wm-layoutgrid>
            </wm-gridcolumn>
        </wm-gridrow>
    </wm-layoutgrid>
</wm-partial>