<wm-page data-ng-controller="TestDashboardPageController"> 
    <wm-content> 
        <wm-page-content columnwidth="12"> 
            <wm-layoutgrid name="layoutgrid1"> 
                <wm-gridrow name="gridrow1" padding="0em .5em"> 
                    <wm-gridcolumn columnwidth="8" name="gridcolumn1"> 
                        <wm-label name="mainHeading" caption="Healthcare Dashboard" class="h2" margin=".3em 0em 0em 0em"></wm-label> 
                    </wm-gridcolumn> 
                    <wm-gridcolumn columnwidth="4" horizontalalign="right" padding="1em 0em" name="gridcolumn50_1"> 
                        <wm-switch datavalue="this week" dataset="this week, this month, this year" name="switch1"></wm-switch> 
                    </wm-gridcolumn> 
                </wm-gridrow> 
                <wm-gridrow name="gridrow2"> 
                    <wm-gridcolumn columnwidth="3" name="gridcolumn4" padding="1em .5em"> 
                        <wm-tile name="summaryOne" backgroundcolor="#F86C6B" color="#FFFFFF" padding="3em 1em"> 
                            <wm-layoutgrid name="layoutgrid2"> 
                                <wm-gridrow name="gridrow4"> 
                                    <wm-gridcolumn columnwidth="4" name="gridcolumn11" horizontalalign="center" class="col-xs-4"> 
                                        <wm-icon iconsize="3em" name="icon1" iconclass="glyphicon glyphicon-globe"></wm-icon> 
                                    </wm-gridcolumn> 
                                    <wm-gridcolumn columnwidth="8" name="gridcolumn12" class="col-xs-8" padding="unset unset unset 1em"> 
                                        <wm-label name="label3" width="100%" caption="New Visits" class="text-uppercase"></wm-label> 
                                        <wm-label width="100%" name="label4" caption="221" class="h3" margin="0px" color="#ffffff"></wm-label> 
                                    </wm-gridcolumn> 
                                </wm-gridrow> 
                            </wm-layoutgrid> 
                        </wm-tile> 
                    </wm-gridcolumn> 
                    <wm-gridcolumn columnwidth="3" name="gridcolumn5" padding="1em .5em"> 
                        <wm-tile name="summaryTwo" color="#FFFFFF" backgroundcolor="#63C2DE" padding="3em 1em"> 
                            <wm-layoutgrid name="layoutgrid3"> 
                                <wm-gridrow name="gridrow7"> 
                                    <wm-gridcolumn columnwidth="4" horizontalalign="center" name="gridcolumn20" class="col-xs-4"> 
                                        <wm-icon iconsize="3em" name="icon2" iconclass="fa fa-money"></wm-icon> 
                                    </wm-gridcolumn> 
                                    <wm-gridcolumn columnwidth="8" name="gridcolumn21" class="col-xs-8" padding="unset unset unset 1em"> 
                                        <wm-label width="100%" caption="Total Revenue" class="text-uppercase" name="label5"></wm-label> 
                                        <wm-label width="100%" caption="221" class="h3" name="label6" margin="0px" color="#ffffff"></wm-label> 
                                    </wm-gridcolumn> 
                                </wm-gridrow> 
                            </wm-layoutgrid> 
                        </wm-tile> 
                    </wm-gridcolumn> 
                    <wm-gridcolumn columnwidth="3" name="gridcolumn6" padding="1em .5em"> 
                        <wm-tile name="summaryThree" color="#FFFFFF" backgroundcolor="#F8CB00" padding="3em 1em"> 
                            <wm-layoutgrid name="layoutgrid4"> 
                                <wm-gridrow name="gridrow8"> 
                                    <wm-gridcolumn columnwidth="4" horizontalalign="center" name="gridcolumn22" class="col-xs-4"> 
                                        <wm-icon iconsize="3em" name="icon3" iconclass="glyphicon glyphicon-user"></wm-icon> 
                                    </wm-gridcolumn> 
                                    <wm-gridcolumn columnwidth="8" name="gridcolumn23" class="col-xs-8" padding="unset unset unset 1em"> 
                                        <wm-label width="100%" caption="Outpatients" class="text-uppercase" name="label7"></wm-label> 
                                        <wm-label width="100%" caption="221" class="h3" name="label8" margin="0px" color="#ffffff"></wm-label> 
                                    </wm-gridcolumn> 
                                </wm-gridrow> 
                            </wm-layoutgrid> 
                        </wm-tile> 
                    </wm-gridcolumn> 
                    <wm-gridcolumn columnwidth="3" name="gridcolumn10" padding="1em .5em"> 
                        <wm-tile name="summaryFour" color="#FFFFFF" backgroundcolor="#4DBD74" padding="3em 1em"> 
                            <wm-layoutgrid name="layoutgrid5"> 
                                <wm-gridrow name="gridrow9"> 
                                    <wm-gridcolumn columnwidth="4" horizontalalign="center" name="gridcolumn24" class="col-xs-4"> 
                                        <wm-icon iconsize="3em" name="icon4" iconclass="glyphicon glyphicon-ok"></wm-icon> 
                                    </wm-gridcolumn> 
                                    <wm-gridcolumn columnwidth="8" name="gridcolumn25" class="col-xs-8" padding="unset unset unset 1em"> 
                                        <wm-label width="100%" caption="Admissions" class="text-uppercase" name="label9"></wm-label> 
                                        <wm-label width="100%" caption="221" class="h3" name="label10" margin="0px" color="#ffffff"></wm-label> 
                                    </wm-gridcolumn> 
                                </wm-gridrow> 
                            </wm-layoutgrid> 
                        </wm-tile> 
                    </wm-gridcolumn> 
                </wm-gridrow> 
                <wm-gridrow name="gridrow3"> 
                    <wm-gridcolumn columnwidth="6" name="gridcolumn7" padding="1em .5em"> 
                        <wm-panel collapsible="false" showheader="true" name="panel2" title="Top Departments By Revenue" height="28em" margin="0px" iconclass="wi wi-attach-money"> 
                            <wm-chart type="Column" name="chart1" offsetright="25" tooltips="true" showlegend="false" xaxislabel="Departments" yaxislabel="Revenue" yaxislabeldistance="12" theme="Retro" height="300"></wm-chart> 
                        </wm-panel> 
                    </wm-gridcolumn> 
                    <wm-gridcolumn columnwidth="6" name="gridcolumn8" padding="1em .5em"> 
                        <wm-panel name="panel4" title="Head Count" margin="0px" iconclass="wi wi-assignment-ind" height="28em"> 
                            <wm-tabs name="tabs1" height="300"> 
                                <wm-tabpane name="tabpane1" heading="Wards" class="text-uppercase"> 
                                    <wm-livelist listclass="list-group" template="true" name="livelist4_1" dataset="1, 2, 3, 4, 5"> 
                                        <wm-listtemplate layout="panel" name="listtemplate4_1"> 
                                            <wm-layoutgrid class="gridlayout" name="layoutgrid9"> 
                                                <wm-gridrow name="gridrow13" borderstyle="solid" bordercolor="#DDD" borderwidth="0px 0px 1px 0px" padding="1em"> 
                                                    <wm-gridcolumn columnwidth="1" data-template-ctr="true" name="gridcolumn32" borderunit="em" class="col-xs-3"> 
                                                        <wm-picture class="picture" shape="circle" width="24" name="picture5" picturesource="http://dev.wavemaker.com/example/comedians/stanleylaurel.jpg"></wm-picture> 
                                                    </wm-gridcolumn> 
                                                    <wm-gridcolumn columnwidth="3" data-template-ctr="true" name="gridcolumn33" class="col-xs-3"> 
                                                        <wm-label width="100%" caption="Role" name="label15"></wm-label> 
                                                    </wm-gridcolumn> 
                                                    <wm-gridcolumn columnwidth="1" name="gridcolumn34" class="col-xs-2"> 
                                                        <wm-label width="100%" caption="User Id" name="label12"></wm-label> 
                                                    </wm-gridcolumn> 
                                                    <wm-gridcolumn columnwidth="7" name="gridcolumn35" class="col-xs-4"> 
                                                        <wm-label width="100%" caption="Stanley Laurel" name="label13"></wm-label> 
                                                    </wm-gridcolumn> 
                                                </wm-gridrow> 
                                            </wm-layoutgrid> 
                                        </wm-listtemplate> 
                                    </wm-livelist> 
                                </wm-tabpane> 
                                <wm-tabpane name="tabpane2" heading="Patients"> 
                                    <wm-livelist listclass="list-group" template="true" dataset="1, 2, 3, 4, 5" borderstyle="none" name="livelist3"> 
                                        <wm-listtemplate layout="gridlayout" name="listtemplate3"> 
                                            <wm-layoutgrid class="gridlayout" name="layoutgrid9_1"> 
                                                <wm-gridrow name="gridrow16" bordercolor="#DDD" borderstyle="solid" borderwidth="0px 0px 1px 0px" padding="1em"> 
                                                    <wm-gridcolumn columnwidth="3" data-template-ctr="true" name="gridcolumn33" class="col-xs-3"> 
                                                        <wm-label width="100%" caption="Role" name="label15"></wm-label> 
                                                    </wm-gridcolumn> 
                                                    <wm-gridcolumn columnwidth="1" name="gridcolumn34" class="col-xs-2"> 
                                                        <wm-label width="100%" caption="User Id" name="label12"></wm-label> 
                                                    </wm-gridcolumn> 
                                                    <wm-gridcolumn columnwidth="7" name="gridcolumn35" class="col-xs-7"> 
                                                        <wm-label width="100%" caption="Stanley Laurel" name="label13"></wm-label> 
                                                    </wm-gridcolumn> 
                                                </wm-gridrow> 
                                            </wm-layoutgrid> 
                                        </wm-listtemplate> 
                                    </wm-livelist> 
                                </wm-tabpane> 
                                <wm-tabpane name="tabpane3" heading="Doctors"> 
                                    <wm-livelist listclass="list-group" template="true" name="livelist4" dataset="1, 2, 3, 4, 5"> 
                                        <wm-listtemplate layout="gridlayout" name="listtemplate4"> 
                                            <wm-layoutgrid class="gridlayout" name="layoutgrid10"> 
                                                <wm-gridrow name="gridrow17" borderstyle="solid" bordercolor="#DDD" borderwidth="0px 0px 1px 0px" padding="1em"> 
                                                    <wm-gridcolumn columnwidth="1" name="gridcolumn34" class="col-xs-3"> 
                                                        <wm-label width="100%" caption="User Id" name="label12"></wm-label> 
                                                    </wm-gridcolumn> 
                                                    <wm-gridcolumn columnwidth="7" name="gridcolumn35" class="col-xs-9"> 
                                                        <wm-label width="100%" caption="Stanley Laurel" name="label13"></wm-label> 
                                                    </wm-gridcolumn> 
                                                </wm-gridrow> 
                                            </wm-layoutgrid> 
                                        </wm-listtemplate> 
                                    </wm-livelist> 
                                </wm-tabpane> 
                            </wm-tabs> 
                        </wm-panel> 
                    </wm-gridcolumn> 
                </wm-gridrow> 
                <wm-gridrow name="gridrow9_1"> 
                    <wm-gridcolumn columnwidth="8" name="gridcolumn21_1" padding="1em .5em"> 
                        <wm-panel collapsible="false" showheader="true" name="panel1" actions="Refresh, Change Date Range, Settings" title="In-Patient vs Out-Patient Enrollments" height="28em" margin="0px" iconclass="wi wi-user"> 
                            <wm-chart type="Line" name="chart2" xaxislabel="Weeks" yaxislabel="Number of Patients" theme="Azure" margin="0em 0em 3em 0em" height="300"></wm-chart> 
                        </wm-panel> 
                    </wm-gridcolumn> 
                    <wm-gridcolumn columnwidth="4" name="gridcolumn22_1" padding="1em .5em"> 
                        <wm-panel collapsible="false" showheader="true" name="panel3" title="Progress Stats" height="28em" margin="0px" iconclass="wi wi-assessment"> 
                            <wm-layoutgrid name="layoutgrid7" marginunit="em" height="310"> 
                                <wm-gridrow name="gridrow11"> 
                                    <wm-gridcolumn columnwidth="12" name="gridcolumn26" borderstyle="none" borderwidth="0px 0px 1px 0px" padding="1em"> 
                                        <wm-label name="label17" caption="Current Visits"></wm-label> 
                                        <wm-label caption="(71%)" name="label25" margin="0em 0em 0em .5em"></wm-label> 
                                        <wm-progress name="progress1" datavalue="71" height="4" displayformat="absolute" show="true" type="warning" margin="0px" captionplacement="hidden"></wm-progress> 
                                    </wm-gridcolumn> 
                                </wm-gridrow> 
                                <wm-gridrow name="gridrow12"> 
                                    <wm-gridcolumn columnwidth="12" name="gridcolumn29" borderstyle="none" borderwidth="0px 0px 1px 0px" padding="1em"> 
                                        <wm-label caption="Day 1 Visits" name="label18"></wm-label> 
                                        <wm-label caption="(94%)" name="label25_1" margin="0em 0em 0em 1em"></wm-label> 
                                        <wm-progress datavalue="94" name="progress2" type="danger" height="4" margin="0px" captionplacement="hidden"></wm-progress> 
                                    </wm-gridcolumn> 
                                </wm-gridrow> 
                                <wm-gridrow name="gridrow13_1"> 
                                    <wm-gridcolumn columnwidth="12" name="gridcolumn32_1" padding="1em"> 
                                        <wm-label caption="Day 2 Visits" name="label19"></wm-label> 
                                        <wm-label caption="(35%)" name="label26_1" margin="0em 0em 0em 1em"></wm-label> 
                                        <wm-progress datavalue="35" name="progress3" type="info" height="4" margin="0px" captionplacement="hidden"></wm-progress> 
                                    </wm-gridcolumn> 
                                </wm-gridrow> 
                                <wm-gridrow name="gridrow17_1"> 
                                    <wm-gridcolumn columnwidth="12" name="gridcolumn33_3" padding="1em"> 
                                        <wm-label caption="Day 3 Visits" name="label27_1"></wm-label> 
                                        <wm-label caption="(40%)" name="label28" margin="0em 0em 0em .5em"></wm-label> 
                                        <wm-progress datavalue="40" type="success" height="4" name="progress4" margin="0px" captionplacement="hidden"></wm-progress> 
                                    </wm-gridcolumn> 
                                </wm-gridrow> 
                                <wm-gridrow name="gridrow18"> 
                                    <wm-gridcolumn columnwidth="12" name="gridcolumn34_2" padding="1em 1em 2em 1em"> 
                                        <wm-label caption="Day 4 Visits" name="label29" marginunit="em"></wm-label> 
                                        <wm-label caption="(26%)" name="label30" margin="0em 0em 0em .5em"></wm-label> 
                                        <wm-progress datavalue="26" type="default" height="4" name="progress5" margin="0px" captionplacement="hidden"></wm-progress> 
                                    </wm-gridcolumn> 
                                </wm-gridrow> 
                            </wm-layoutgrid> 
                        </wm-panel> 
                    </wm-gridcolumn> 
                </wm-gridrow> 
                <wm-gridrow name="gridrow14"> 
                    <wm-gridcolumn columnwidth="12" name="gridcolumn33_1" padding="1em .5em"> 
                        <wm-livegrid name="livegrid2" service="hrdb@User"> 
                            <wm-grid deleterow="false" updaterow="false" insertrow="false" gridfirstrowselect="true" readonlygrid="false" name="grid3" shownavigation="true" gridsearch="true" title="Patients" subheading="Here is the list of patients" iconclass="wi wi-verified-user"> 
                                <wm-grid-column binding="none" caption="Patient Name" type="string" readonly="false" search-placeholder="Search" pcdisplay="true" mobiledisplay="true"></wm-grid-column> 
                                <wm-grid-column binding="none" caption="Patient Id" type="string" readonly="false" search-placeholder="Search" pcdisplay="true" mobiledisplay="true"></wm-grid-column> 
                                <wm-grid-column binding="none" caption="Admitted On" type="string" readonly="false" search-placeholder="Search" pcdisplay="true" mobiledisplay="true"></wm-grid-column> 
                                <wm-grid-column binding="none" caption="Relived On" type="string" readonly="false" search-placeholder="Search" pcdisplay="true" mobiledisplay="true"></wm-grid-column> 
                            </wm-grid> 
                        </wm-livegrid> 
                    </wm-gridcolumn> 
                </wm-gridrow> 
                <wm-gridrow name="gridrow18_1"> 
                    <wm-gridcolumn columnwidth="3" name="gridcolumn34_3" padding="1em .5em"> 
                        <wm-tile backgroundcolor="#3B5998" color="#FFFFFF" name="tile5"> 
                            <wm-layoutgrid name="layoutgrid14"> 
                                <wm-gridrow name="gridrow23"> 
                                    <wm-gridcolumn columnwidth="12" name="gridcolumn46" horizontalalign="center" padding="3em 0em"> 
                                        <wm-icon name="icon9" iconsize="3em" iconclass="fa fa-facebook"></wm-icon> 
                                    </wm-gridcolumn> 
                                </wm-gridrow> 
                                <wm-gridrow name="gridrow24" backgroundcolor="#FFF" padding="1em 0em"> 
                                    <wm-gridcolumn columnwidth="6" name="gridcolumn49" horizontalalign="center" class="col-xs-6" bordercolor="#E4E5E6" borderstyle="solid" borderwidth="0px 1px 0px 0px"> 
                                        <wm-label name="label37" width="100%" caption="89k" fontsize="1.5" fontunit="em" color="#3D3F42" fontweight="bold"></wm-label> 
                                        <wm-label name="label38" width="100%" caption="Friends" color="#D1D4D7" class="text-uppercase" fontsize="0.9" fontunit="em" fontweight="bold"></wm-label> 
                                    </wm-gridcolumn> 
                                    <wm-gridcolumn columnwidth="6" name="gridcolumn50" horizontalalign="center" class="col-xs-6"> 
                                        <wm-label width="100%" caption="459" name="label39" fontsize="1.5" fontunit="em" color="#3D3F42" fontweight="bold"></wm-label> 
                                        <wm-label width="100%" caption="Feeds" name="label40" color="#D1D4D7" class="text-uppercase" fontsize="0.9" fontunit="em" fontweight="bold"></wm-label> 
                                    </wm-gridcolumn> 
                                </wm-gridrow> 
                            </wm-layoutgrid> 
                        </wm-tile> 
                    </wm-gridcolumn> 
                    <wm-gridcolumn columnwidth="3" name="gridcolumn37" padding="1em .5em"> 
                        <wm-tile color="#FFFFFF" backgroundcolor="#00ACED" name="tile6"> 
                            <wm-layoutgrid name="layoutgrid11"> 
                                <wm-gridrow name="gridrow21"> 
                                    <wm-gridcolumn columnwidth="12" horizontalalign="center" name="gridcolumn41" padding="3em 0em"> 
                                        <wm-icon iconsize="3em" iconclass="fa fa-twitter" name="icon6"></wm-icon> 
                                    </wm-gridcolumn> 
                                </wm-gridrow> 
                                <wm-gridrow backgroundcolor="#FFF" name="gridrow22" padding="1em 0em"> 
                                    <wm-gridcolumn columnwidth="6" horizontalalign="center" name="gridcolumn42" class="col-xs-6" bordercolor="#E4E5E6" borderstyle="solid" borderwidth="0px 1px 0px 0px"> 
                                        <wm-label width="100%" caption="244k" fontsize="1.5" fontunit="em" color="#3D3F42" fontweight="bold" name="label33"></wm-label> 
                                        <wm-label width="100%" caption="Followers" color="#D1D4D7" class="text-uppercase" fontsize="0.9" fontunit="em" fontweight="bold" name="label34"></wm-label> 
                                    </wm-gridcolumn> 
                                    <wm-gridcolumn columnwidth="6" horizontalalign="center" name="gridcolumn43_1" class="col-xs-6"> 
                                        <wm-label width="100%" caption="44" fontsize="1.5" fontunit="em" color="#3D3F42" fontweight="bold" name="label35"></wm-label> 
                                        <wm-label width="100%" caption="Tweets" color="#D1D4D7" class="text-uppercase" fontsize="0.9" fontunit="em" fontweight="bold" name="label36"></wm-label> 
                                    </wm-gridcolumn> 
                                </wm-gridrow> 
                            </wm-layoutgrid> 
                        </wm-tile> 
                    </wm-gridcolumn> 
                    <wm-gridcolumn columnwidth="3" name="gridcolumn40" padding="1em .5em"> 
                        <wm-tile color="#FFFFFF" backgroundcolor="#4875B4" name="tile7"> 
                            <wm-layoutgrid name="layoutgrid12"> 
                                <wm-gridrow name="gridrow23_1"> 
                                    <wm-gridcolumn columnwidth="12" horizontalalign="center" name="gridcolumn44" padding="3em 0em"> 
                                        <wm-icon iconsize="3em" iconclass="fa fa-linkedin" name="icon7"></wm-icon> 
                                    </wm-gridcolumn> 
                                </wm-gridrow> 
                                <wm-gridrow backgroundcolor="#FFF" name="gridrow24_1" padding="1em 0em"> 
                                    <wm-gridcolumn columnwidth="6" horizontalalign="center" name="gridcolumn45" class="col-xs-6" bordercolor="#E4E5E6" borderstyle="solid" borderwidth="0px 1px 0px 0px"> 
                                        <wm-label width="100%" caption="250+" fontsize="1.5" fontunit="em" color="#3D3F42" fontweight="bold" name="label37_1"></wm-label> 
                                        <wm-label width="100%" caption="Contacts" color="#D1D4D7" class="text-uppercase" fontsize="0.9" fontunit="em" fontweight="bold" name="label38_1"></wm-label> 
                                    </wm-gridcolumn> 
                                    <wm-gridcolumn columnwidth="6" horizontalalign="center" name="gridcolumn46_1" class="col-xs-6"> 
                                        <wm-label width="100%" caption="343" fontsize="1.5" fontunit="em" color="#3D3F42" fontweight="bold" name="label39_1"></wm-label> 
                                        <wm-label width="100%" caption="Feeds" color="#D1D4D7" class="text-uppercase" fontsize="0.9" fontunit="em" fontweight="bold" name="label40_1"></wm-label> 
                                    </wm-gridcolumn> 
                                </wm-gridrow> 
                            </wm-layoutgrid> 
                        </wm-tile> 
                    </wm-gridcolumn> 
                    <wm-gridcolumn columnwidth="3" name="gridcolumn43" padding="1em .5em"> 
                        <wm-tile color="#FFFFFF" backgroundcolor="#BB4B39" name="tile8"> 
                            <wm-layoutgrid name="layoutgrid13"> 
                                <wm-gridrow name="gridrow25"> 
                                    <wm-gridcolumn columnwidth="12" horizontalalign="center" name="gridcolumn47" padding="3em 0em"> 
                                        <wm-icon iconsize="3em" iconclass="fa fa-google-plus" name="icon8"></wm-icon> 
                                    </wm-gridcolumn> 
                                </wm-gridrow> 
                                <wm-gridrow backgroundcolor="#FFF" name="gridrow26" padding="1em 0em"> 
                                    <wm-gridcolumn columnwidth="6" horizontalalign="center" name="gridcolumn48" class="col-xs-6" bordercolor="#E4E5E6" borderstyle="solid" borderwidth="0px 1px 0px 0px"> 
                                        <wm-label width="100%" caption="1k" fontsize="1.5" fontunit="em" color="#3D3F42" fontweight="bold" name="label41"></wm-label> 
                                        <wm-label width="100%" caption="Followers" color="#D1D4D7" class="text-uppercase" fontsize="0.9" fontunit="em" fontweight="bold" name="label42"></wm-label> 
                                    </wm-gridcolumn> 
                                    <wm-gridcolumn columnwidth="6" horizontalalign="center" name="gridcolumn49_1" class="col-xs-6"> 
                                        <wm-label width="100%" caption="23" fontsize="1.5" fontunit="em" color="#3D3F42" fontweight="bold" name="label43"></wm-label> 
                                        <wm-label width="100%" caption="Circles" color="#D1D4D7" class="text-uppercase" fontsize="0.9" fontunit="em" fontweight="bold" name="label44"></wm-label> 
                                    </wm-gridcolumn> 
                                </wm-gridrow> 
                            </wm-layoutgrid> 
                        </wm-tile> 
                    </wm-gridcolumn> 
                </wm-gridrow> 
            </wm-layoutgrid> 
        </wm-page-content> 
    </wm-content> 
</wm-page>