<wm-page data-ng-controller="ContactManagementPageController" pagetitle="Contact Management" name="page1">
    <wm-header content="header" name="header1"></wm-header>
    <wm-content name="content1">
        <wm-left-panel columnwidth="2" content="leftnav" name="left_panel1"></wm-left-panel>
        <wm-page-content columnwidth="10" name="page_content1">
            <wm-panel name="panel1" title="Contacts" subheading="Use this page to manage the contacts that can be used for alerting.">
                <wm-panel-footer name="panel_footer1">
                    <wm-livegrid formlayout="dialog" name="livegrid1">
                        <wm-grid gridfirstrowselect="true" readonlygrid="false" title="Contact List" dataset="bind:Variables.contactsList.dataSet" navigation="None" name="grid1">
                            <wm-grid-column binding="contactName" caption="Contact Name" type="string" generator="assigned" pcdisplay="true" mobiledisplay="true" show="true" readonly="false"></wm-grid-column>
                            <wm-grid-column binding="smsNumber" caption="Sms Number" type="string" generator="assigned" pcdisplay="true" mobiledisplay="true" show="true" readonly="false"></wm-grid-column>
                            <wm-grid-column binding="emailAddress" caption="Email Address" type="string" generator="assigned" pcdisplay="true" mobiledisplay="true" show="true" readonly="false"></wm-grid-column>
                            <wm-grid-column binding="isActiveFlag" caption="Is Active Flag" type="boolean" widget-type="checkbox" generator="assigned" pcdisplay="true" mobiledisplay="true" show="true" readonly="false">
                                <input type="checkbox" ng-model="row['isActiveFlag']" ng-disabled="{{colDef.readonly || !isGridEditMode}}" class="" data-ng-class="">
                            </wm-grid-column>
                            <wm-grid-column binding="rowOperations" caption="Actions" type="custom" readonly="true" pcdisplay="true" mobiledisplay="true" sortable="false" searchable="false" show="true"></wm-grid-column>
                            <wm-grid-action key="addNewRow" display-name="New" show="true" class="btn-primary" iconclass="wi wi-plus" title="New" action="addNewRow()"></wm-grid-action>
                            <wm-grid-row-action key="updaterow" display-name="" show="true" class="btn-transparent" iconclass="wi wi-pencil" title="Edit" action="editRow()"></wm-grid-row-action>
                            <wm-grid-row-action key="deleterow" display-name="" show="true" class="btn-transparent" iconclass="wi wi-trash" title="Delete" action="deleteRow()"></wm-grid-row-action>
                        </wm-grid>
                        <wm-liveform novalidate="false" title="Contact Info" formlayout="dialog" dataset="bind:Variables.contactsList.dataSet" captionalign="left" captionposition="top" name="liveform1">
                            <wm-layoutgrid columns="1" name="layoutgrid1">
                                <wm-gridrow name="gridrow1">
                                    <wm-gridcolumn columnwidth="12" name="gridcolumn1">
                                        <wm-form-field name="contactName" displayname="Contact Name" show="true" primary-key="false" generator="assigned" key="contactName" type="string" is-related="false" pc-display="true" mobile-display="true" widget="text"
                                        maxchars="255" inputtype="text" regexp=".*" placeholder="Enter value"></wm-form-field>
                                    </wm-gridcolumn>
                                </wm-gridrow>
                                <wm-gridrow name="gridrow2">
                                    <wm-gridcolumn columnwidth="12" name="gridcolumn2">
                                        <wm-form-field name="smsNumber" displayname="Sms Number" show="true" primary-key="false" generator="assigned" key="smsNumber" type="string" is-related="false" pc-display="true" mobile-display="true" widget="text" maxchars="255"
                                        inputtype="text" regexp=".*" placeholder="Enter value"></wm-form-field>
                                    </wm-gridcolumn>
                                </wm-gridrow>
                                <wm-gridrow name="gridrow3">
                                    <wm-gridcolumn columnwidth="12" name="gridcolumn3">
                                        <wm-form-field name="emailAddress" displayname="Email Address" show="true" primary-key="false" generator="assigned" key="emailAddress" type="string" is-related="false" pc-display="true" mobile-display="true" widget="text"
                                        maxchars="255" inputtype="text" regexp=".*" placeholder="Enter value"></wm-form-field>
                                    </wm-gridcolumn>
                                </wm-gridrow>
                                <wm-gridrow name="gridrow4">
                                    <wm-gridcolumn columnwidth="12" name="gridcolumn4">
                                        <wm-form-field name="isActiveFlag" displayname="Is Active Flag" show="true" primary-key="false" generator="assigned" key="isActiveFlag" type="boolean" is-related="false" pc-display="true" mobile-display="true" widget="checkbox"
                                        regexp=".*" placeholder=""></wm-form-field>
                                    </wm-gridcolumn>
                                </wm-gridrow>
                                <wm-gridrow name="gridrow1">
                                    <wm-gridcolumn name="gridcolumn1" columnwidth="12">
                                        <wm-form-field name="organisation" displayname="Organisation" show="false" primary-key="false" generator="assigned" key="organisation" type="list" is-related="true" required="required" pc-display="true" mobile-display="true"
                                        widget="select" displayexpression="organisationName" regexp=".*" placeholder="Select value" defaultvalue="bind:Variables.CurrentUser.dataSet.data[$i].organisation"></wm-form-field>
                                    </wm-gridcolumn>
                                </wm-gridrow>
                            </wm-layoutgrid>
                            <wm-form-action key="cancel" display-name="Cancel" show="true" class="form-cancel btn-secondary" iconclass="wi wi-cancel" title="Cancel" action="cancel()" type="button" update-mode="true"></wm-form-action>
                            <wm-form-action key="save" display-name="Save" show="true" class="form-save btn-success" iconclass="wi wi-save" title="Save" type="submit" update-mode="true"></wm-form-action>
                        </wm-liveform>
                    </wm-livegrid>
                </wm-panel-footer>
            </wm-panel>
        </wm-page-content>
    </wm-content>
    <wm-footer content="footer" name="footer1"></wm-footer>
</wm-page>