<wm-page data-ng-controller="UserManagementPageController" pagetitle="User Management" name="page1">
    <wm-header content="header" name="header1"></wm-header>
    <wm-top-nav content="topnav" name="top_nav1"></wm-top-nav>
    <wm-content name="content1">
        <wm-left-panel columnwidth="2" content="leftnav" name="left_panel1"></wm-left-panel>
        <wm-page-content columnwidth="10" name="page_content1">
            <wm-panel name="panel1" title="User Management" subheading="Use this page to create and alter users that can then be allocated to devices">
                <wm-panel-footer name="panel_footer1"></wm-panel-footer>
                <wm-livegrid formlayout="dialog" name="livegrid2">
                    <wm-grid gridfirstrowselect="true" readonlygrid="false" title="" dataset="bind:Variables.UserList.dataSet" navigation="None" name="grid2">
                        <wm-grid-column binding="fullName" caption="Full Name" type="string" generator="assigned" pcdisplay="true" mobiledisplay="true" show="true" readonly="false"></wm-grid-column>
                        <wm-grid-column binding="userName" caption="User Name" type="string" generator="assigned" pcdisplay="true" mobiledisplay="true" show="true" readonly="false"></wm-grid-column>
                        <wm-grid-column binding="role.roleName" caption="Role" type="string" generator="assigned" pcdisplay="true" mobiledisplay="true" show="true" readonly="false"></wm-grid-column>
                        <wm-grid-column binding="rowOperations" caption="Actions" type="custom" readonly="true" pcdisplay="true" mobiledisplay="true" sortable="false" searchable="false" show="true"></wm-grid-column>
                        <wm-grid-action key="addNewRow" display-name="New" show="true" class="btn-primary" iconclass="wi wi-plus" title="New" action="addNewRow()"></wm-grid-action>
                        <wm-grid-row-action key="updaterow" display-name="" show="true" class="btn-transparent" iconclass="wi wi-pencil" title="Edit" action="editRow()"></wm-grid-row-action>
                        <wm-grid-row-action key="deleterow" display-name="" show="true" class="btn-transparent" iconclass="wi wi-trash" title="Delete" action="deleteRow()"></wm-grid-row-action>
                    </wm-grid>
                    <wm-liveform novalidate="false" title="User Info" formlayout="dialog" dataset="bind:Variables.UserList.dataSet" captionalign="left" captionposition="top" name="liveform2">
                        <wm-layoutgrid columns="1" name="layoutgrid2">
                            <wm-gridrow name="gridrow4">
                                <wm-gridcolumn columnwidth="12" name="gridcolumn6">
                                    <wm-form-field name="fullName" displayname="Full Name" show="true" primary-key="false" generator="assigned" key="fullName" type="string" is-related="false" pc-display="true" mobile-display="true" widget="text" maxchars="255"
                                    inputtype="text" regexp=".*" placeholder="Enter value"></wm-form-field>
                                </wm-gridcolumn>
                            </wm-gridrow>
                            <wm-gridrow name="gridrow5">
                                <wm-gridcolumn columnwidth="12" name="gridcolumn7">
                                    <wm-form-field name="userName" displayname="User Name" show="true" primary-key="false" generator="assigned" key="userName" type="string" is-related="false" pc-display="true" mobile-display="true" widget="text" maxchars="255"
                                    inputtype="text" regexp=".*" placeholder="Enter value"></wm-form-field>
                                </wm-gridcolumn>
                            </wm-gridrow>
                            <wm-gridrow name="gridrow6">
                                <wm-gridcolumn columnwidth="12" name="gridcolumn8">
                                    <wm-form-field name="password" displayname="Password" show="true" primary-key="false" generator="assigned" key="password" type="string" is-related="false" pc-display="true" mobile-display="true" widget="password" maxchars="255"
                                    inputtype="password" regexp=".*" placeholder="Enter value"></wm-form-field>
                                </wm-gridcolumn>
                            </wm-gridrow>
                            <wm-gridrow name="gridrow7">
                                <wm-gridcolumn columnwidth="12" name="gridcolumn9">
                                    <wm-form-field name="role" displayname="Role" show="true" primary-key="false" generator="assigned" key="role" type="list" is-related="true" pc-display="true" mobile-display="true" widget="select" regexp=".*" placeholder="Select value"
                                    displayexpression="roleName" dataset="bind:Variables.selectableRoles.dataSet" displayfield="roleName" datafield="All Fields"></wm-form-field>
                                </wm-gridcolumn>
                            </wm-gridrow>
                            <wm-gridrow name="gridrow1">
                                <wm-gridcolumn name="gridcolumn1" columnwidth="12">
                                    <wm-form-field name="organisation" displayname="Organisation" show="false" primary-key="false" generator="assigned" key="organisation" type="list" is-related="true" required="required" pc-display="true" mobile-display="true"
                                    widget="select" displayexpression="organisationName" readonly="true" defaultvalue="bind:Variables.CurrentUser.dataSet.data[$i].organisation" datafield="organisation.organisationId" displayfield="organisation.organisationName"></wm-form-field>
                                </wm-gridcolumn>
                            </wm-gridrow>
                        </wm-layoutgrid>
                        <wm-form-action key="cancel" display-name="Cancel" show="true" class="form-cancel btn-secondary" iconclass="wi wi-cancel" title="Cancel" action="cancel()" type="button" update-mode="true"></wm-form-action>
                        <wm-form-action key="save" display-name="Save" show="true" class="form-save btn-success" iconclass="wi wi-save" title="Save" type="submit" update-mode="true"></wm-form-action>
                    </wm-liveform>
                </wm-livegrid>
            </wm-panel>
        </wm-page-content>
    </wm-content>
    <wm-footer content="footer" name="footer1"></wm-footer>
</wm-page>