<wm-page data-ng-controller="FallIncidentManagementPageController" pagetitle="Fall Incident Management" name="page1">
    <wm-header content="header" name="header1"></wm-header>
    <wm-top-nav content="topnav" name="top_nav1"></wm-top-nav>
    <wm-content name="content1">
        <wm-left-panel columnwidth="2" content="leftnav" name="left_panel1"></wm-left-panel>
        <wm-page-content columnwidth="10" name="page_content1">
            <wm-panel name="panel1" title="Incident Management" subheading="Use this page to manage incidents">
                <wm-panel-footer name="panel_footer1"></wm-panel-footer>
                <wm-label name="label2" class="h1" caption="bind:Variables.UserIncidents.dataSet.data[0].user.fullName+' ('+Variables.UserIncidents.dataSet.data[0].bandUserSettingsWaveCopy.username+' - '+Variables.UserIncidents.dataSet.data[0].bandUserSettingsWaveCopy.deviceId+')'"></wm-label>
                <wm-composite name="composite1">
                    <wm-label class="col-md-3 control-label" name="label1" caption="Change user"></wm-label>
                    <wm-container class="col-md-9" name="container1">
                        <wm-select name="select1" dataset="bind:Variables.Devices.dataSet" datafield="deviceId" displayexpression="bind:$[data[$i].user.fullName]+' ('+$[data[$i].username]+' - '+$[data[$i].deviceId]+')'" datavalue="bind:pageParams.SelectedDeviceId"></wm-select>
                    </wm-container>
                </wm-composite>
                <wm-livegrid formlayout="dialog" name="livegrid3">
                    <wm-grid gridfirstrowselect="true" readonlygrid="false" title="" dataset="bind:Variables.UserIncidents.dataSet" navigation="None" name="grid3">
                        <wm-grid-column binding="createdTime" caption="Created Time" type="timestamp" generator="assigned" datepattern="dd-MMM-yyyy HH:mm:ss" formatpattern="toDate" pcdisplay="true" mobiledisplay="true" show="true" readonly="false"></wm-grid-column>
                        <wm-grid-column binding="distressCallByUser" caption="Distress Call By User" type="boolean" widget-type="checkbox" generator="assigned" pcdisplay="true" mobiledisplay="true" show="true" readonly="false">
                            <input type="checkbox" ng-model="row['distressCallByUser']" ng-disabled="{{colDef.readonly || !isGridEditMode}}" class="" data-ng-class="">
                        </wm-grid-column>
                        <wm-grid-column binding="confirmedByUser" caption="Confirmed By User" type="boolean" widget-type="checkbox" generator="assigned" pcdisplay="true" mobiledisplay="true" show="true" readonly="false">
                            <input type="checkbox" ng-model="row['confirmedByUser']" ng-disabled="{{colDef.readonly || !isGridEditMode}}" class="" data-ng-class="">
                        </wm-grid-column>
                        <wm-grid-column binding="dismissedByUser" caption="Dismissed By User" type="boolean" widget-type="checkbox" generator="assigned" pcdisplay="true" mobiledisplay="true" show="true" readonly="false">
                            <input type="checkbox" ng-model="row['dismissedByUser']" ng-disabled="{{colDef.readonly || !isGridEditMode}}" class="" data-ng-class="">
                        </wm-grid-column>
                        <wm-grid-column binding="rowOperations" caption="Actions" type="custom" readonly="true" pcdisplay="true" mobiledisplay="true" sortable="false" searchable="false" show="true"></wm-grid-column>
                        <wm-grid-column binding="incidentStatusByIncidentStatus.incidentStatus" caption="Incident Status" type="string" generator="assigned" pcdisplay="true" mobiledisplay="true" show="true" readonly="false"></wm-grid-column>
                        <wm-grid-action key="addNewRow" display-name="New" show="true" class="btn-primary" iconclass="wi wi-plus" title="New" action="addNewRow()"></wm-grid-action>
                        <wm-grid-row-action key="updaterow" display-name="" show="true" class="btn-transparent" iconclass="wi wi-pencil" title="Edit" action="editRow()"></wm-grid-row-action>
                        <wm-grid-row-action key="deleterow" display-name="" show="true" class="btn-transparent" iconclass="wi wi-trash" title="Delete" action="deleteRow()"></wm-grid-row-action>
                    </wm-grid>
                    <wm-liveform novalidate="false" title="Update Fall Incident Status" formlayout="dialog" dataset="bind:Variables.UserIncidents.dataSet" captionalign="left" captionposition="top" name="liveform3">
                        <wm-layoutgrid columns="1" name="layoutgrid3">
                            <wm-gridrow name="gridrow3">
                                <wm-gridcolumn columnwidth="12" name="gridcolumn3">
                                    <wm-form-field name="incidentStatusByIncidentStatus" displayname="Incident Status" show="true" primary-key="false" generator="assigned" key="incidentStatusByIncidentStatus" type="list" is-related="true" pc-display="true"
                                    mobile-display="true" widget="select" maxchars="255" regexp=".*" placeholder="Select value" displayexpression="incidentStatus"></wm-form-field>
                                </wm-gridcolumn>
                            </wm-gridrow>
                        </wm-layoutgrid>
                        <wm-form-action key="cancel" display-name="Cancel" show="true" class="form-cancel btn-secondary" iconclass="wi wi-cancel" title="Cancel" action="cancel()" type="button" update-mode="true"></wm-form-action>
                        <wm-form-action key="save" display-name="Save" show="true" class="form-save btn-success" iconclass="wi wi-save" title="Save" type="submit" update-mode="true"></wm-form-action>
                    </wm-liveform>
                </wm-livegrid>
            </wm-panel>
        </wm-page-content>
    </wm-content>
    <wm-footer content="footer" name="footer1"></wm-footer>
</wm-page>