<wm-page data-ng-controller="MainPageController" name="mainpage" pagetitle="Main">
    <wm-header content="header" name="header" height="auto"></wm-header>
    <wm-top-nav content="topnav" name="top_nav1"></wm-top-nav>
    <wm-content name="content">
        <wm-left-panel columnwidth="2" name="leftpanel" content="leftnav"></wm-left-panel>
        <wm-page-content columnwidth="10" name="mainContent" padding="unset 15px">
            <wm-panel name="panel1" title="Welcome to the customer portal">
                <wm-panel-footer name="panel_footer1">
                    <wm-composite name="composite1">
                        <wm-label class="col-md-3 control-label" name="label1" show="false"></wm-label>
                        <wm-container class="col-md-9" name="container1">
                            <wm-textarea name="textarea1" height="192" width="842" datavalue="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."></wm-textarea>
                        </wm-container>
                    </wm-composite>
                </wm-panel-footer>
            </wm-panel>
        </wm-page-content>
    </wm-content>
    <wm-footer name="footer" content="footer"></wm-footer>
</wm-page>