<wm-page data-ng-controller="OrganisationDashboardPageController" pagetitle="Organisation Dashboard" name="page1">
    <wm-header content="header" name="header1"></wm-header>
    <wm-top-nav content="topnav" name="top_nav1"></wm-top-nav>
    <wm-content name="content1">
        <wm-left-panel columnwidth="2" content="leftnav" name="left_panel1"></wm-left-panel>
        <wm-page-content columnwidth="10" name="page_content1">
            <wm-panel name="panel1" title="Organisation Dashboard" subheading="Use this page to monitor all users">
                <wm-panel-footer name="panel_footer1"></wm-panel-footer>
                <wm-livelist listclass="list-group" itemclass="list-group-item" template="true" itemsperrow="xs-1 sm-1 md-1 lg-1" class="media-list" datafield="All Fields" dataset="bind:Variables.LatestTelemetry.dataSet" navigation="Scroll"
                name="livelist3_1">
                    <wm-listtemplate layout="inline" name="listtemplate3">
                        <wm-container class="media-left" name="container3"></wm-container>
                        <wm-layoutgrid name="layoutgrid3_1" width="950">
                            <wm-gridrow name="gridrow5">
                                <wm-gridcolumn columnwidth="12" name="gridcolumn20">
                                    <wm-label class="h1 h2" caption="bind:Variables.LatestTelemetry.dataSet.data[$i].displayName" fontunit="em" whitespace="nowrap" width="100%" name="label17_1"></wm-label>
                                </wm-gridcolumn>
                            </wm-gridrow>
                            <wm-gridrow name="gridrow6">
                                <wm-gridcolumn columnwidth="2" name="gridcolumn23">
                                    <wm-label caption="Heart Rate" fontunit="pt" fontsize="14" horizontalalign="center" width="100%" name="label18_1"></wm-label>
                                </wm-gridcolumn>
                                <wm-gridcolumn columnwidth="2" name="gridcolumn24">
                                    <wm-label caption="Skin Temperature" fontunit="pt" fontsize="14" width="100%" horizontalalign="center" name="label19_1"></wm-label>
                                </wm-gridcolumn>
                                <wm-gridcolumn columnwidth="2" name="gridcolumn25">
                                    <wm-label caption="Air Temperature" fontunit="pt" fontsize="14" width="100%" horizontalalign="center" name="label20"></wm-label>
                                </wm-gridcolumn>
                                <wm-gridcolumn columnwidth="2" name="gridcolumn29">
                                    <wm-label caption="Steps Today" fontunit="pt" fontsize="14" width="100%" horizontalalign="center" name="label21"></wm-label>
                                </wm-gridcolumn>
                                <wm-gridcolumn columnwidth="2" name="gridcolumn30">
                                    <wm-label caption="Fall Incidents" fontunit="pt" fontsize="14" width="100%" horizontalalign="center" name="label22"></wm-label>
                                </wm-gridcolumn>
                                <wm-gridcolumn columnwidth="2" name="gridcolumn31"></wm-gridcolumn>
                            </wm-gridrow>
                            <wm-gridrow name="gridrow7">
                                <wm-gridcolumn columnwidth="1" name="gridcolumn26">
                                    <wm-icon iconclass="wi wi-heart fa-3x fa-pull-right" name="icon7"></wm-icon>
                                </wm-gridcolumn>
                                <wm-gridcolumn columnwidth="1" name="gridcolumn27_1">
                                    <wm-label caption="bind:Variables.LatestTelemetry.dataSet.data[$i].heartRate" fontweight="bold" color="#4f5eb8" fontsize="16" fontunit="pt" name="label23"></wm-label>
                                    <wm-label caption="bind:Variables.LatestTelemetry.dataSet.data[$i].heartRateDate" color="#9c9c9c" fontsize="8" fontunit="pt" name="label24" show="bind:Variables.LatestTelemetry.dataSet.data[$i].heartRateStatus == 0 ? true : false"></wm-label>
                                    <wm-label caption="bind:Variables.LatestTelemetry.dataSet.data[$i].heartRateDate" color="#cef007" fontsize="8" fontunit="pt" show="bind:Variables.LatestTelemetry.dataSet.data[$i].heartRateStatus == 1 ? true : false"
                                    name="label25"></wm-label>
                                    <wm-label caption="bind:Variables.LatestTelemetry.dataSet.data[$i].heartRateDate" color="#ff0000" fontsize="8" fontunit="pt" show="bind:Variables.LatestTelemetry.dataSet.data[$i].heartRateStatus == 2 ? true : false"
                                    name="label26"></wm-label>
                                </wm-gridcolumn>
                                <wm-gridcolumn columnwidth="1" name="gridcolumn28">
                                    <wm-icon iconclass="wi wi-scale fa-3x fa-pull-right" name="icon8"></wm-icon>
                                </wm-gridcolumn>
                                <wm-gridcolumn columnwidth="1" name="gridcolumn32">
                                    <wm-label caption="bind:Variables.LatestTelemetry.dataSet.data[$i].skinTemperature" fontweight="bold" color="#4f5eb8" fontsize="16" fontunit="pt" name="label27"></wm-label>
                                    <wm-label caption="bind:Variables.LatestTelemetry.dataSet.data[$i].skinTemperatureDate" color="#9c9c9c" fontsize="8" fontunit="pt" show="bind:Variables.LatestTelemetry.dataSet.data[$i].skinTemperatureStatus == 0 ? true : false"
                                    name="label28"></wm-label>
                                    <wm-label caption="bind:Variables.LatestTelemetry.dataSet.data[$i].skinTemperatureDate" color="#cef007" fontsize="8" fontunit="pt" show="bind:Variables.LatestTelemetry.dataSet.data[$i].skinTemperatureStatus == 1 ? true : false"
                                    name="label29"></wm-label>
                                    <wm-label caption="bind:Variables.LatestTelemetry.dataSet.data[$i].skinTemperatureDate" color="#ff0000" fontsize="8" fontunit="pt" show="bind:Variables.LatestTelemetry.dataSet.data[$i].skinTemperatureStatus == 2 ? true : false"
                                    name="label30"></wm-label>
                                </wm-gridcolumn>
                                <wm-gridcolumn columnwidth="1" name="gridcolumn33">
                                    <wm-icon iconclass="wi wi-scale fa-3x fa-pull-right" name="icon9"></wm-icon>
                                </wm-gridcolumn>
                                <wm-gridcolumn columnwidth="1" name="gridcolumn34">
                                    <wm-label caption="bind:Variables.LatestTelemetry.dataSet.data[$i].barometerTemperature" fontweight="bold" color="#4f5eb8" fontsize="16" fontunit="pt" name="label31"></wm-label>
                                    <wm-label caption="bind:Variables.LatestTelemetry.dataSet.data[$i].barometerTemperatureDate" color="#9c9c9c" fontsize="8" fontunit="pt" show="bind: Variables.LatestTelemetry.dataSet.data[$i].barometerTemperatureStatus == 0 ? true : false"
                                    name="label32"></wm-label>
                                    <wm-label caption="bind:Variables.LatestTelemetry.dataSet.data[$i].barometerTemperatureDate" color="#cef007" fontsize="8" fontunit="pt" show="bind: Variables.LatestTelemetry.dataSet.data[$i].barometerTemperatureStatus == 1 ? true : false"
                                    name="label33"></wm-label>
                                    <wm-label caption="bind:Variables.LatestTelemetry.dataSet.data[$i].barometerTemperatureDate" color="#ff0000" fontsize="8" fontunit="pt" show="bind: Variables.LatestTelemetry.dataSet.data[$i].barometerTemperatureStatus == 2 ? true : false"
                                    name="label34"></wm-label>
                                </wm-gridcolumn>
                                <wm-gridcolumn columnwidth="1" name="gridcolumn35">
                                    <wm-icon iconclass="wi wi-directions-walk fa-3x fa-pull-right" name="icon10"></wm-icon>
                                </wm-gridcolumn>
                                <wm-gridcolumn columnwidth="1" name="gridcolumn36">
                                    <wm-label caption="bind:Variables.LatestTelemetry.dataSet.data[$i].stepsToday" fontweight="bold" color="#4f5eb8" fontsize="16" fontunit="pt" name="label35"></wm-label>
                                    <wm-label caption="bind:Variables.LatestTelemetry.dataSet.data[$i].pedometerDate" color="#9c9c9c" fontsize="8" fontunit="pt" show="bind: Variables.LatestTelemetry.dataSet.data[$i].pedometerStatus == 0 ? true : false"
                                    name="label36"></wm-label>
                                    <wm-label caption="bind:Variables.LatestTelemetry.dataSet.data[$i].pedometerDate" color="#cef007" fontsize="8" fontunit="pt" show="bind: Variables.LatestTelemetry.dataSet.data[$i].pedometerStatus == 1 ? true : false"
                                    name="label37"></wm-label>
                                    <wm-label caption="bind:Variables.LatestTelemetry.dataSet.data[$i].pedometerDate" color="#ff0000" fontsize="8" fontunit="pt" show="bind: Variables.LatestTelemetry.dataSet.data[$i].pedometerStatus == 2 ? true : false"
                                    name="label38"></wm-label>
                                </wm-gridcolumn>
                                <wm-gridcolumn columnwidth="2" name="gridcolumn37">
                                    <wm-layoutgrid name="layoutgrid4">
                                        <wm-gridrow name="gridrow8">
                                            <wm-gridcolumn columnwidth="4" name="gridcolumn40">
                                                <wm-icon iconclass="wi wi-warning fa-4x" color="#f70000" animation="flash" show="bind:Variables.LatestTelemetry.dataSet.data[$i].activeFall" name="icon12"></wm-icon>
                                            </wm-gridcolumn>
                                            <wm-gridcolumn columnwidth="4" name="gridcolumn41">
                                                <wm-icon iconclass="wi wi-shield fa-3x" color="#00f745" show="bind: Variables.LatestTelemetry.dataSet.data[$i].activeFall ? false : true" name="icon13"></wm-icon>
                                                <wm-button class="btn-default" caption="Manage" type="button" show="bind:Variables.LatestTelemetry.dataSet.data[$i].activeFall" on-click="goToPage_FallIncidentManagementPassDeviceId" on-tap="goToPage_FallIncidentManagementPassDeviceId"
                                                name="button3"></wm-button>
                                            </wm-gridcolumn>
                                        </wm-gridrow>
                                    </wm-layoutgrid>
                                </wm-gridcolumn>
                                <wm-gridcolumn columnwidth="2" name="gridcolumn38">
                                    <wm-layoutgrid name="layoutgrid3">
                                        <wm-gridrow name="gridrow5_1">
                                            <wm-gridcolumn columnwidth="4" name="gridcolumn20_1">
                                                <wm-anchor name="anchor2" on-click="goToPage_UserDashboardFromOrg" on-tap="goToPage_UserDashboardFromOrg" iconclass="fa fa-line-chart fa-3x" caption=""></wm-anchor>
                                            </wm-gridcolumn>
                                            <wm-gridcolumn columnwidth="4" name="gridcolumn21">
                                                <wm-anchor name="anchor2_1" iconclass="wi wi-settings fa-3x" caption="" on-click="goToPage_ServiceConfigurationForUser"></wm-anchor>
                                            </wm-gridcolumn>
                                            <wm-gridcolumn columnwidth="4" name="gridcolumn22"></wm-gridcolumn>
                                        </wm-gridrow>
                                    </wm-layoutgrid>
                                </wm-gridcolumn>
                            </wm-gridrow>
                        </wm-layoutgrid>
                    </wm-listtemplate>
                </wm-livelist>
            </wm-panel>
        </wm-page-content>
    </wm-content>
    <wm-footer content="footer" name="footer1"></wm-footer>
</wm-page>