<wm-page data-ng-controller="UserDashboardPageController" pagetitle="User Dashboard" name="page1">
    <wm-header content="header" name="header1"></wm-header>
    <wm-top-nav content="topnav" name="top_nav1"></wm-top-nav>
    <wm-content name="content1">
        <wm-left-panel columnwidth="2" content="leftnav" name="left_panel1"></wm-left-panel>
        <wm-page-content columnwidth="10" name="page_content1">
            <wm-panel name="panel1" title="User Dashboard">
                <wm-panel-footer name="panel_footer1"></wm-panel-footer>
                <wm-label name="label2" class="h1" caption="bind:Variables.selectedDevice.dataSet.data[0].user.fullName+' ('+Variables.selectedDevice.dataSet.data[0].username+' - '+Variables.selectedDevice.dataSet.data[0].deviceId+')'"></wm-label>
                <wm-composite name="composite1">
                    <wm-label class="col-md-3 control-label" caption="Change user" name="label1"></wm-label>
                    <wm-container class="col-md-9" name="container1">
                        <wm-select dataset="bind:Variables.Devices.dataSet" datafield="deviceId" displayexpression="bind:$[data[$i].user.fullName]+' ('+$[data[$i].username]+' - '+$[data[$i].deviceId]+')'" datavalue="bind:pageParams.DeviceId" name="select1"></wm-select>
                    </wm-container>
                </wm-composite>
                <wm-layoutgrid name="layoutgrid1">
                    <wm-gridrow name="gridrow10">
                        <wm-gridcolumn columnwidth="6" name="gridcolumn24">
                            <wm-label name="label9" class="h2" caption="Band Data"></wm-label>
                        </wm-gridcolumn>
                        <wm-gridcolumn columnwidth="6" name="gridcolumn25">
                            <wm-label class="h2" caption="Additional Data" name="label10"></wm-label>
                        </wm-gridcolumn>
                    </wm-gridrow>
                    <wm-gridrow name="gridrow1">
                        <wm-gridcolumn columnwidth="5" name="gridcolumn1">
                            <wm-switch datavalue="Today" name="switch1" dataset="Today, Yesterday, This Week, Custom" on-change="switch1Change($event, $scope)"></wm-switch>
                        </wm-gridcolumn>
                        <wm-gridcolumn columnwidth="2" name="gridcolumn2"></wm-gridcolumn>
                        <wm-gridcolumn columnwidth="5" name="gridcolumn23">
                            <wm-switch datavalue="Last 30 Days" name="switch2" dataset="Last 7 Days, Last 30 Days, Last 90 Days, Custom"></wm-switch>
                        </wm-gridcolumn>
                    </wm-gridrow>
                    <wm-gridrow name="gridrow9">
                        <wm-gridcolumn columnwidth="3" name="gridcolumn20">
                            <wm-label class="col-md-3 control-label" name="label4" caption="Start Time"></wm-label>
                        </wm-gridcolumn>
                        <wm-gridcolumn columnwidth="3" name="gridcolumn21">
                            <wm-label class="col-md-3 control-label" name="label5" caption="End Time"></wm-label>
                        </wm-gridcolumn>
                        <wm-gridcolumn columnwidth="1" name="gridcolumn30_1"></wm-gridcolumn>
                        <wm-gridcolumn columnwidth="2" name="gridcolumn22">
                            <wm-label class="col-md-3 control-label" caption="Start Date" name="label11" width="100%"></wm-label>
                        </wm-gridcolumn>
                        <wm-gridcolumn columnwidth="3" name="gridcolumn27">
                            <wm-label class="col-md-3 control-label" caption="End Date" name="label12"></wm-label>
                        </wm-gridcolumn>
                    </wm-gridrow>
                    <wm-gridrow name="gridrow8">
                        <wm-gridcolumn columnwidth="3" name="gridcolumn16_1">
                            <wm-datetime name="startdatetime" datepattern="dd-MMM-yy HH:mm:ss" placeholder="Select start time" datavalue="bind:Widgets.switch1.datavalue == 'Today' ? Variables.startDayVar.dataSet.dataValue : Widgets.switch1.datavalue == 'Yesterday' ? Variables.startYesterdayVar.dataSet.dataValue : Widgets.switch1.datavalue == 'This Week' ? Variables.startWeekVar.dataSet.dataValue : NULL  | toDate"
                            outputformat="timestamp" on-change="startdatetimeChange($event, $scope)"></wm-datetime>
                        </wm-gridcolumn>
                        <wm-gridcolumn columnwidth="3" name="gridcolumn17_1">
                            <wm-datetime name="enddatetime" placeholder="Select end time" outputformat="timestamp" datavalue="bind:Widgets.switch1.datavalue == 'Today' ? Variables.endDayVar.dataSet.dataValue : Widgets.switch1.datavalue == 'Yesterday' ? Variables.endDayVar.dataSet.dataValue : Widgets.switch1.datavalue == 'This Week' ? Variables.endDayVar.dataSet.dataValue : NULL  | toDate"
                            datepattern="dd-MMM-yy HH:mm:ss"></wm-datetime>
                        </wm-gridcolumn>
                        <wm-gridcolumn columnwidth="1" name="gridcolumn31_1"></wm-gridcolumn>
                        <wm-gridcolumn columnwidth="2" name="gridcolumn19_1">
                            <wm-date name="startdate" datepattern="dd-MMM-yy" outputformat="timestamp" placeholder="Select start date" datavalue="bind:Widgets.switch2.datavalue == 'Last 7 Days' ? Variables.start7Var.dataSet.dataValue : Widgets.switch2.datavalue == 'Last 30 Days' ? Variables.start30Var.dataSet.dataValue : Widgets.switch2.datavalue == 'Last 90 Days' ? Variables.start90Var.dataSet.dataValue : NULL  | toDate"></wm-date>
                        </wm-gridcolumn>
                        <wm-gridcolumn columnwidth="3" name="gridcolumn28">
                            <wm-date datepattern="dd-MMM-yy" outputformat="timestamp" name="enddate" placeholder="Select end date" datavalue="bind:Widgets.switch2.datavalue == 'Last 7 Days' ? Variables.endDayVar.dataSet.dataValue : Widgets.switch2.datavalue == 'Last 30 Days' ? Variables.endDayVar.dataSet.dataValue : Widgets.switch2.datavalue == 'Last 90 Days' ? Variables.endDayVar.dataSet.dataValue : NULL  | toDate"></wm-date>
                        </wm-gridcolumn>
                    </wm-gridrow>
                    <wm-gridrow name="gridrow2">
                        <wm-gridcolumn columnwidth="6" name="gridcolumn4">
                            <wm-label name="label5_1" width="100%" horizontalalign="center" caption="Heart Rate" fontsize="20"></wm-label>
                        </wm-gridcolumn>
                        <wm-gridcolumn columnwidth="6" name="gridcolumn5">
                            <div id="heartrate_chart_div"></div>
                            <wm-label width="100%" horizontalalign="center" caption="Weight" fontsize="20" name="label13"></wm-label>
                        </wm-gridcolumn>
                    </wm-gridrow>
                    <wm-gridrow name="gridrow3">
                        <wm-gridcolumn columnwidth="6" name="gridcolumn7">
                            <wm-chart type="Line" name="chart5" dataset="bind:Variables.HeartRateData.dataSet" xaxisdatakey="TimeCreated" yaxisdatakey="Value" showxaxis="false" yaxislabel="Heart Rate" yunits="BPM" showlegend="hide" yaxislabeldistance="0"
                            ynumberformat=".f"></wm-chart>
                        </wm-gridcolumn>
                        <wm-gridcolumn columnwidth="6" name="gridcolumn8">
                            <wm-chart type="Line" name="chart7" dataset="bind:Variables.WeightKgsData.dataSet" xaxisdatakey="TimeCreated" yaxisdatakey="Value" showlegend="hide" showxaxis="false" yaxislabel="Weight" yunits="Kg" yaxislabeldistance="0" ynumberformat=".2f"></wm-chart>
                        </wm-gridcolumn>
                    </wm-gridrow>
                    <wm-gridrow name="gridrow4">
                        <wm-gridcolumn columnwidth="6" name="gridcolumn10">
                            <wm-label width="100%" horizontalalign="center" caption="Temperature" name="label6" fontsize="20"></wm-label>
                        </wm-gridcolumn>
                        <wm-gridcolumn columnwidth="6" name="gridcolumn11">
                            <wm-label width="100%" horizontalalign="center" caption="Hydration" fontsize="20" name="label14_1"></wm-label>
                        </wm-gridcolumn>
                    </wm-gridrow>
                    <wm-gridrow name="gridrow5">
                        <wm-gridcolumn columnwidth="6" name="gridcolumn13">
                            <wm-chart type="Line" name="chart4_1" dataset="bind:Variables.userTelemetry.dataSet" xaxisdatakey="TimeCreated" yaxisdatakey="BarometerTemperature,SkinTemperature" showxaxis="false" yaxislabeldistance="0" showlegend="hide" ynumberformat=".2f"
                            yunits="°C" yaxislabel="Temp"></wm-chart>
                        </wm-gridcolumn>
                        <wm-gridcolumn columnwidth="6" name="gridcolumn14">
                            <wm-chart type="Line" dataset="bind:Variables.WeightHydrationData.dataSet" showlegend="hide" showxaxis="false" yaxislabel="Hydration" yunits="%" yaxislabeldistance="0" ynumberformat=".1f" name="chart9" xaxisdatakey="TimeCreated"
                            yaxisdatakey="Value"></wm-chart>
                        </wm-gridcolumn>
                    </wm-gridrow>
                    <wm-gridrow name="gridrow6">
                        <wm-gridcolumn columnwidth="6" name="gridcolumn16">
                            <wm-label width="100%" horizontalalign="center" caption="Daily Steps" name="label7" fontsize="20"></wm-label>
                        </wm-gridcolumn>
                        <wm-gridcolumn columnwidth="4" name="gridcolumn17"></wm-gridcolumn>
                    </wm-gridrow>
                    <wm-gridrow name="gridrow7">
                        <wm-gridcolumn columnwidth="6" name="gridcolumn18">
                            <wm-chart type="Line" name="chart6" dataset="bind:Variables.userTelemetry.dataSet" xaxisdatakey="TimeCreated" yaxisdatakey="DailySteps" showxaxis="false" yaxislabel="Steps" yaxislabeldistance="0" showlegend="hide" ynumberformat=".f"></wm-chart>
                        </wm-gridcolumn>
                        <wm-gridcolumn columnwidth="4" name="gridcolumn19"></wm-gridcolumn>
                    </wm-gridrow>
                    <wm-gridrow name="gridrow11">
                        <wm-gridcolumn columnwidth="6" name="gridcolumn29">
                            <wm-label width="100%" horizontalalign="center" caption="Perspiration" fontsize="20" name="label14"></wm-label>
                        </wm-gridcolumn>
                        <wm-gridcolumn columnwidth="4" name="gridcolumn30"></wm-gridcolumn>
                    </wm-gridrow>
                    <wm-gridrow name="gridrow12">
                        <wm-gridcolumn columnwidth="6" name="gridcolumn31">
                            <wm-chart type="Line" dataset="bind:Variables.userTelemetry.dataSet" xaxisdatakey="TimeCreated" yaxisdatakey="GsrResistence" showxaxis="false" yaxislabel="Steps" yaxislabeldistance="0" showlegend="hide" ynumberformat=".f" name="chart4"></wm-chart>
                        </wm-gridcolumn>
                        <wm-gridcolumn columnwidth="4" name="gridcolumn32"></wm-gridcolumn>
                    </wm-gridrow>
                </wm-layoutgrid>
            </wm-panel>
        </wm-page-content>
    </wm-content>
    <wm-footer content="footer" name="footer1"></wm-footer>
</wm-page>