<wm-page data-ng-controller="OrganisationManagementPageController" pagetitle="Organisation Management" name="page1">
    <wm-header content="header" name="header1"></wm-header>
    <wm-top-nav content="topnav" name="top_nav1"></wm-top-nav>
    <wm-content name="content1">
        <wm-left-panel columnwidth="2" content="leftnav" name="left_panel1"></wm-left-panel>
        <wm-page-content columnwidth="10" name="page_content1">
            <wm-tabs name="tabs1">
                <wm-tabpane name="tabpane1" title="Organisations">
                    <wm-panel name="panel1" title="Organisations" subheading="Create &amp; edit organisations">
                        <wm-panel-footer name="panel_footer1"></wm-panel-footer>
                        <wm-livegrid formlayout="dialog" name="livegrid3">
                            <wm-grid gridfirstrowselect="true" readonlygrid="false" title="" dataset="bind:Variables.OrganisationData.dataSet" navigation="None" name="grid3">
                                <wm-grid-column binding="organisationName" caption="Organisation Name" generator="assigned" pcdisplay="true" mobiledisplay="true" type="string"></wm-grid-column>
                                <wm-grid-column binding="isActiveFlag" caption="Is Active Flag" generator="assigned" pcdisplay="true" mobiledisplay="true" type="boolean"></wm-grid-column>
                                <wm-grid-action key="addNewRow" display-name="New" iconclass="wi wi-plus" show="true" class="btn-primary" action="addNewRow()" position="footer"></wm-grid-action>
                                <wm-grid-row-action key="updaterow" display-name="" title="Edit" iconclass="wi wi-pencil" show="true" class="btn-transparent" action="editRow()"></wm-grid-row-action>
                                <wm-grid-row-action key="deleterow" display-name="" title="Delete" iconclass="wi wi-trash" show="true" class="btn-transparent" action="deleteRow()"></wm-grid-row-action>
                            </wm-grid>
                            <wm-liveform novalidate="false" title="Organisation Info" formlayout="dialog" dataset="bind:Variables.OrganisationData.dataSet" captionalign="left" captionposition="top" name="liveform3">
                                <wm-layoutgrid columns="1" name="layoutgrid3">
                                    <wm-gridrow name="gridrow8">
                                        <wm-gridcolumn columnwidth="12" name="gridcolumn8">
                                            <wm-form-field name="organisationName" displayname="Organisation Name" required="false" show="true" generator="assigned" primary-key="false" key="organisationName" type="string" is-related="false" maxchars="255"
                                            pc-display="true" mobile-display="true" widget="text"></wm-form-field>
                                        </wm-gridcolumn>
                                    </wm-gridrow>
                                    <wm-gridrow name="gridrow9">
                                        <wm-gridcolumn columnwidth="12" name="gridcolumn9">
                                            <wm-form-field name="isActiveFlag" displayname="Is Active Flag" required="false" show="true" generator="assigned" primary-key="false" key="isActiveFlag" type="boolean" is-related="false" pc-display="true" mobile-display="true"
                                            widget="checkbox"></wm-form-field>
                                        </wm-gridcolumn>
                                    </wm-gridrow>
                                </wm-layoutgrid>
                                <wm-form-action key="cancel" class="form-cancel btn-secondary" iconclass="wi wi-cancel" action="cancel()" display-name="Cancel" show="true" type="button" update-mode="true"></wm-form-action>
                                <wm-form-action key="save" class="form-save btn-success" iconclass="wi wi-save" display-name="Save" show="true" type="submit" update-mode="true"></wm-form-action>
                            </wm-liveform>
                        </wm-livegrid>
                    </wm-panel>
                </wm-tabpane>
                <wm-tabpane name="tabpane3" title="Roles">
                    <wm-panel name="panel3" title="Roles">
                        <wm-panel-footer name="panel_footer3"></wm-panel-footer>
                        <wm-livegrid formlayout="dialog" name="livegrid3_1">
                            <wm-grid gridfirstrowselect="true" readonlygrid="false" title="Role List" dataset="bind:Variables.Roles.dataSet" navigation="None" name="grid3_1">
                                <wm-grid-column binding="roleName" caption="Role Name" generator="assigned" pcdisplay="true" mobiledisplay="true" type="string"></wm-grid-column>
                                <wm-grid-column binding="userSelectable" caption="User Selectable" generator="assigned" pcdisplay="true" mobiledisplay="true" type="boolean"></wm-grid-column>
                                <wm-grid-action key="addNewRow" display-name="New" iconclass="wi wi-plus" show="true" class="btn-primary" action="addNewRow()" position="footer"></wm-grid-action>
                                <wm-grid-row-action key="updaterow" display-name="" title="Edit" iconclass="wi wi-pencil" show="true" class="btn-transparent" action="editRow()"></wm-grid-row-action>
                                <wm-grid-row-action key="deleterow" display-name="" title="Delete" iconclass="wi wi-trash" show="true" class="btn-transparent" action="deleteRow()"></wm-grid-row-action>
                            </wm-grid>
                            <wm-liveform novalidate="false" title="Role Info" formlayout="dialog" dataset="bind:Variables.Roles.dataSet" captionalign="left" captionposition="top" name="liveform3_1">
                                <wm-layoutgrid columns="1" name="layoutgrid3_1">
                                    <wm-gridrow name="gridrow8_1">
                                        <wm-gridcolumn columnwidth="12" name="gridcolumn8_1">
                                            <wm-form-field name="roleName" displayname="Role Name" required="false" show="true" generator="assigned" primary-key="false" key="roleName" type="string" is-related="false" maxchars="255" pc-display="true" mobile-display="true"
                                            widget="text"></wm-form-field>
                                        </wm-gridcolumn>
                                    </wm-gridrow>
                                    <wm-gridrow name="gridrow9_1">
                                        <wm-gridcolumn columnwidth="12" name="gridcolumn9_1">
                                            <wm-form-field name="userSelectable" displayname="User Selectable" required="false" show="true" generator="assigned" primary-key="false" key="userSelectable" type="boolean" is-related="false" pc-display="true" mobile-display="true"
                                            widget="checkbox"></wm-form-field>
                                        </wm-gridcolumn>
                                    </wm-gridrow>
                                </wm-layoutgrid>
                                <wm-form-action key="cancel" class="form-cancel btn-secondary" iconclass="wi wi-cancel" action="cancel()" display-name="Cancel" show="true" type="button" update-mode="true"></wm-form-action>
                                <wm-form-action key="save" class="form-save btn-success" iconclass="wi wi-save" display-name="Save" show="true" type="submit" update-mode="true"></wm-form-action>
                            </wm-liveform>
                        </wm-livegrid>
                    </wm-panel>
                </wm-tabpane>
                <wm-tabpane name="tabpane4" title="Organisation Devices &amp; Users">
                    <wm-panel name="panel2" title="Organisation Users &amp; Devices">
                        <wm-panel-footer name="panel_footer2"></wm-panel-footer>
                        <wm-composite name="composite1">
                            <wm-label class="col-md-3 control-label" name="label1" caption="Select an organisation"></wm-label>
                            <wm-container class="col-md-9" name="container1">
                                <wm-select name="select1" dataset="bind:Variables.OrganisationData.dataSet" datafield="All Fields" displayfield="organisationName"></wm-select>
                            </wm-container>
                        </wm-composite>
                        <wm-livegrid formlayout="dialog" name="livegrid6">
                            <wm-grid gridfirstrowselect="true" readonlygrid="false" title="User List" dataset="bind:Variables.OrgUsers.dataSet" navigation="None" name="grid6">
                                <wm-grid-column binding="fullName" caption="Full Name" generator="assigned" pcdisplay="true" mobiledisplay="true" type="string"></wm-grid-column>
                                <wm-grid-column binding="userName" caption="User Name" generator="assigned" pcdisplay="true" mobiledisplay="true" type="string"></wm-grid-column>
                                <wm-grid-column binding="role.roleName" caption="Role" generator="assigned" pcdisplay="true" mobiledisplay="true" type="string"></wm-grid-column>
                                <wm-grid-action key="addNewRow" display-name="New" iconclass="wi wi-plus" show="true" class="btn-primary" action="addNewRow()" position="footer"></wm-grid-action>
                                <wm-grid-row-action key="updaterow" display-name="" title="Edit" iconclass="wi wi-pencil" show="true" class="btn-transparent" action="editRow()"></wm-grid-row-action>
                                <wm-grid-row-action key="deleterow" display-name="" title="Delete" iconclass="wi wi-trash" show="true" class="btn-transparent" action="deleteRow()"></wm-grid-row-action>
                            </wm-grid>
                            <wm-liveform novalidate="false" title="User Info" formlayout="dialog" dataset="bind:Variables.OrgUsers.dataSet" captionalign="left" captionposition="top" name="liveform6">
                                <wm-layoutgrid columns="1" name="layoutgrid6">
                                    <wm-gridrow name="gridrow18">
                                        <wm-gridcolumn columnwidth="12" name="gridcolumn18">
                                            <wm-form-field name="fullName" displayname="Full Name" show="true" primary-key="false" generator="assigned" key="fullName" type="string" is-related="false" pc-display="true" mobile-display="true" widget="text" maxchars="255"
                                            inputtype="text" regexp=".*" placeholder="Enter value"></wm-form-field>
                                        </wm-gridcolumn>
                                    </wm-gridrow>
                                    <wm-gridrow name="gridrow19">
                                        <wm-gridcolumn columnwidth="12" name="gridcolumn19">
                                            <wm-form-field name="userName" displayname="User Name" show="true" primary-key="false" generator="assigned" key="userName" type="string" is-related="false" pc-display="true" mobile-display="true" widget="text" maxchars="255"
                                            inputtype="text" regexp=".*" placeholder="Enter value"></wm-form-field>
                                        </wm-gridcolumn>
                                    </wm-gridrow>
                                    <wm-gridrow name="gridrow20">
                                        <wm-gridcolumn columnwidth="12" name="gridcolumn20">
                                            <wm-form-field name="password" displayname="Password" show="true" primary-key="false" generator="assigned" key="password" type="string" is-related="false" pc-display="true" mobile-display="true" widget="password"
                                            maxchars="255" inputtype="password" regexp=".*" placeholder="Enter value"></wm-form-field>
                                        </wm-gridcolumn>
                                    </wm-gridrow>
                                    <wm-gridrow name="gridrow21">
                                        <wm-gridcolumn columnwidth="12" name="gridcolumn21">
                                            <wm-form-field name="organisation" displayname="Organisation" show="false" primary-key="false" generator="assigned" key="organisation" type="list" is-related="true" required="required" pc-display="true" mobile-display="true"
                                            widget="select" regexp=".*" placeholder="Select value" defaultvalue="bind:Widgets.select1.datavalue"></wm-form-field>
                                        </wm-gridcolumn>
                                    </wm-gridrow>
                                    <wm-gridrow name="gridrow22">
                                        <wm-gridcolumn columnwidth="12" name="gridcolumn22">
                                            <wm-form-field name="role" displayname="Role" show="true" primary-key="false" generator="assigned" key="role" type="list" is-related="true" pc-display="true" mobile-display="true" widget="select" regexp=".*" placeholder="Select value"
                                            displayexpression="roleName"></wm-form-field>
                                        </wm-gridcolumn>
                                    </wm-gridrow>
                                </wm-layoutgrid>
                                <wm-form-action key="cancel" display-name="Cancel" show="true" class="form-cancel btn-secondary" iconclass="wi wi-cancel" title="Cancel" action="cancel()" type="button" update-mode="true"></wm-form-action>
                                <wm-form-action key="save" display-name="Save" show="true" class="form-save btn-success" iconclass="wi wi-save" title="Save" type="submit" update-mode="true"></wm-form-action>
                            </wm-liveform>
                        </wm-livegrid>
                        <wm-livegrid formlayout="dialog" name="livegrid4">
                            <wm-grid gridfirstrowselect="true" readonlygrid="false" title="Devices" dataset="bind:Variables.OrgDevices.dataSet" navigation="None" name="grid4">
                                <wm-grid-column binding="deviceId" caption="Device Id" type="string" primary-key="true" generator="assigned" pcdisplay="true" mobiledisplay="true" show="true" readonly="false"></wm-grid-column>
                                <wm-grid-column binding="username" caption="Display Name" type="string" generator="assigned" pcdisplay="true" mobiledisplay="true" show="true" readonly="false"></wm-grid-column>
                                <wm-grid-column binding="user.fullName" caption="User" type="string" generator="assigned" pcdisplay="true" mobiledisplay="true" show="true" readonly="false"></wm-grid-column>
                                <wm-grid-column binding="organisation.organisationName" caption="Organisation" type="string" generator="assigned" pcdisplay="true" mobiledisplay="true" show="true" readonly="false"></wm-grid-column>
                                <wm-grid-column binding="rowOperations" caption="Actions" type="custom" readonly="true" pcdisplay="true" mobiledisplay="true" sortable="false" searchable="false" show="true"></wm-grid-column>
                                <wm-grid-row-action key="updaterow" display-name="" show="true" class="btn-transparent" iconclass="wi wi-pencil" title="Edit" action="editRow()"></wm-grid-row-action>
                            </wm-grid>
                            <wm-liveform novalidate="false" title="Bandusersettings_wavecopy Info" formlayout="dialog" dataset="bind:Variables.OrgDevices.dataSet" captionalign="left" captionposition="top" name="liveform4">
                                <wm-layoutgrid columns="1" name="layoutgrid4">
                                    <wm-gridrow name="gridrow10">
                                        <wm-gridcolumn columnwidth="12" name="gridcolumn10">
                                            <wm-form-field name="deviceId" displayname="Device Id" show="true" primary-key="true" generator="assigned" key="deviceId" type="string" is-related="false" required="required" pc-display="true" mobile-display="true"
                                            widget="text" maxchars="255" inputtype="text" regexp=".*" placeholder="Enter value" readonly="true"></wm-form-field>
                                        </wm-gridcolumn>
                                    </wm-gridrow>
                                    <wm-gridrow name="gridrow11">
                                        <wm-gridcolumn columnwidth="12" name="gridcolumn11">
                                            <wm-form-field name="username" displayname="Display Name" show="true" primary-key="false" generator="assigned" key="username" type="string" is-related="false" pc-display="true" mobile-display="true" widget="text"
                                            maxchars="255" inputtype="text" regexp=".*" placeholder="Enter value"></wm-form-field>
                                        </wm-gridcolumn>
                                    </wm-gridrow>
                                    <wm-gridrow name="gridrow12">
                                        <wm-gridcolumn columnwidth="12" name="gridcolumn12">
                                            <wm-form-field name="user" displayname="User" show="true" primary-key="false" generator="assigned" key="user" type="list" is-related="true" pc-display="true" mobile-display="true" widget="select" regexp=".*" placeholder="Select value"
                                            displayexpression="fullName" dataset="bind:Variables.OrgUsers.dataSet" datafield="All Fields"></wm-form-field>
                                        </wm-gridcolumn>
                                    </wm-gridrow>
                                </wm-layoutgrid>
                                <wm-form-field name="organisation" displayname="Organisation" show="false" primary-key="false" generator="assigned" key="organisation" type="list" is-related="true" pc-display="true" mobile-display="true" widget="select"
                                regexp=".*" placeholder="Select value" displayexpression="organisationName" defaultvalue="bind:Widgets.select1.datavalue"></wm-form-field>
                                <wm-form-action key="cancel" display-name="Cancel" show="true" class="form-cancel btn-secondary" iconclass="wi wi-cancel" title="Cancel" action="cancel()" type="button" update-mode="true"></wm-form-action>
                                <wm-form-action key="save" display-name="Save" show="true" class="form-save btn-success" iconclass="wi wi-save" title="Save" type="submit" update-mode="true"></wm-form-action>
                            </wm-liveform>
                        </wm-livegrid>
                    </wm-panel>
                </wm-tabpane>
                <wm-tabpane name="tabpane5" title="All Devices">
                    <wm-livegrid formlayout="dialog" name="livegrid5">
                        <wm-grid gridfirstrowselect="true" readonlygrid="false" title="All Devices" dataset="bind:Variables.BandDataBandUserSettingsWaveCopyData.dataSet" navigation="None" name="grid5">
                            <wm-grid-column binding="deviceId" caption="Device Id" type="string" primary-key="true" generator="assigned" pcdisplay="true" mobiledisplay="true" show="true" readonly="false"></wm-grid-column>
                            <wm-grid-column binding="username" caption="Device Display Name" type="string" generator="assigned" pcdisplay="true" mobiledisplay="true" show="true" readonly="false"></wm-grid-column>
                            <wm-grid-column binding="user.fullName" caption="User" type="string" generator="assigned" pcdisplay="true" mobiledisplay="true" show="true" readonly="false"></wm-grid-column>
                            <wm-grid-column binding="organisation.organisationName" caption="Organisation" type="string" generator="assigned" pcdisplay="true" mobiledisplay="true" show="true" readonly="false"></wm-grid-column>
                            <wm-grid-column binding="rowOperations" caption="Actions" type="custom" readonly="true" pcdisplay="true" mobiledisplay="true" sortable="false" searchable="false" show="true"></wm-grid-column>
                            <wm-grid-row-action key="updaterow" display-name="" show="true" class="btn-transparent" iconclass="wi wi-pencil" title="Edit" action="editRow()"></wm-grid-row-action>
                        </wm-grid>
                        <wm-liveform novalidate="false" title="Bandusersettings_wavecopy Info" formlayout="dialog" dataset="bind:Variables.BandDataBandUserSettingsWaveCopyData.dataSet" captionalign="left" captionposition="top" name="liveform5">
                            <wm-layoutgrid columns="1" name="layoutgrid5">
                                <wm-gridrow name="gridrow14">
                                    <wm-gridcolumn columnwidth="12" name="gridcolumn14">
                                        <wm-form-field name="deviceId" displayname="Device Id" show="true" primary-key="true" generator="assigned" key="deviceId" type="string" is-related="false" required="required" pc-display="true" mobile-display="true"
                                        widget="text" maxchars="255" inputtype="text" regexp=".*" placeholder="Enter value"></wm-form-field>
                                    </wm-gridcolumn>
                                </wm-gridrow>
                                <wm-gridrow name="gridrow15">
                                    <wm-gridcolumn columnwidth="12" name="gridcolumn15">
                                        <wm-form-field name="username" displayname="Device Display Name" show="true" primary-key="false" generator="assigned" key="username" type="string" is-related="false" pc-display="true" mobile-display="true" widget="text"
                                        maxchars="255" inputtype="text" regexp=".*" placeholder="Enter value"></wm-form-field>
                                    </wm-gridcolumn>
                                </wm-gridrow>
                                <wm-gridrow name="gridrow16">
                                    <wm-gridcolumn columnwidth="12" name="gridcolumn16">
                                        <wm-form-field name="user" displayname="User" show="true" primary-key="false" generator="assigned" key="user" type="list" is-related="true" pc-display="true" mobile-display="true" widget="select" regexp=".*" placeholder="Select value"
                                        displayexpression="fullName + ' (' + organisation.organisationName + ')'"></wm-form-field>
                                    </wm-gridcolumn>
                                </wm-gridrow>
                                <wm-gridrow name="gridrow17">
                                    <wm-gridcolumn columnwidth="12" name="gridcolumn17">
                                        <wm-form-field name="organisation" displayname="Organisation" show="true" primary-key="false" generator="assigned" key="organisation" type="list" is-related="true" pc-display="true" mobile-display="true" widget="select"
                                        regexp=".*" placeholder="Select value" displayexpression="organisationName"></wm-form-field>
                                    </wm-gridcolumn>
                                </wm-gridrow>
                            </wm-layoutgrid>
                            <wm-form-action key="cancel" display-name="Cancel" show="true" class="form-cancel btn-secondary" iconclass="wi wi-cancel" title="Cancel" action="cancel()" type="button" update-mode="true"></wm-form-action>
                            <wm-form-action key="save" display-name="Save" show="true" class="form-save btn-success" iconclass="wi wi-save" title="Save" type="submit" update-mode="true"></wm-form-action>
                        </wm-liveform>
                    </wm-livegrid>
                </wm-tabpane>
                <wm-tabpane name="tabpane5_1" title="Alerts">
                    <wm-livegrid formlayout="dialog" name="livegrid6_1">
                        <wm-grid gridfirstrowselect="true" readonlygrid="false" title="Alert List" dataset="bind:Variables.Alerts.dataSet" navigation="None" name="grid6_1">
                            <wm-grid-column binding="alertName" caption="Alert Name" generator="assigned" pcdisplay="true" mobiledisplay="true" type="string"></wm-grid-column>
                            <wm-grid-column binding="alertDescription" caption="Alert Description" generator="assigned" pcdisplay="true" mobiledisplay="true" type="string"></wm-grid-column>
                            <wm-grid-column binding="alertCategory" caption="Alert Category" generator="assigned" pcdisplay="true" mobiledisplay="true" type="string"></wm-grid-column>
                            <wm-grid-column binding="isActiveFlag" caption="Is Active Flag" generator="assigned" pcdisplay="true" mobiledisplay="true" type="boolean"></wm-grid-column>
                            <wm-grid-column binding="storedProcedure" caption="Stored Procedure" generator="assigned" pcdisplay="true" mobiledisplay="true" type="string"></wm-grid-column>
                            <wm-grid-action key="addNewRow" display-name="New" iconclass="wi wi-plus" show="true" class="btn-primary" action="addNewRow()" position="footer"></wm-grid-action>
                            <wm-grid-row-action key="updaterow" display-name="" title="Edit" iconclass="wi wi-pencil" show="true" class="btn-transparent" action="editRow()"></wm-grid-row-action>
                            <wm-grid-row-action key="deleterow" display-name="" title="Delete" iconclass="wi wi-trash" show="true" class="btn-transparent" action="deleteRow()"></wm-grid-row-action>
                        </wm-grid>
                        <wm-liveform novalidate="false" title="Alert Info" formlayout="dialog" dataset="bind:Variables.Alerts.dataSet" captionalign="left" captionposition="top" name="liveform6_1">
                            <wm-layoutgrid columns="1" name="layoutgrid6_1">
                                <wm-gridrow name="gridrow17_1">
                                    <wm-gridcolumn columnwidth="12" name="gridcolumn17_1">
                                        <wm-form-field name="alertName" displayname="Alert Name" show="true" primary-key="false" generator="assigned" key="alertName" type="string" is-related="false" pc-display="true" mobile-display="true" widget="text" maxchars="255"
                                        inputtype="text" regexp=".*" placeholder="Enter value"></wm-form-field>
                                    </wm-gridcolumn>
                                </wm-gridrow>
                                <wm-gridrow name="gridrow18_1">
                                    <wm-gridcolumn columnwidth="12" name="gridcolumn18_1">
                                        <wm-form-field name="alertDescription" displayname="Alert Description" show="true" primary-key="false" generator="assigned" key="alertDescription" type="string" is-related="false" pc-display="true" mobile-display="true"
                                        widget="textarea" maxchars="255" inputtype="text" regexp=".*" placeholder="Enter value"></wm-form-field>
                                    </wm-gridcolumn>
                                </wm-gridrow>
                                <wm-gridrow name="gridrow19_1">
                                    <wm-gridcolumn columnwidth="12" name="gridcolumn19_1">
                                        <wm-form-field name="alertCategory" displayname="Alert Category" show="true" primary-key="false" generator="assigned" key="alertCategory" type="string" is-related="false" pc-display="true" mobile-display="true" widget="text"
                                        maxchars="255" inputtype="text" regexp=".*" placeholder="Enter value"></wm-form-field>
                                    </wm-gridcolumn>
                                </wm-gridrow>
                                <wm-gridrow name="gridrow20_1">
                                    <wm-gridcolumn columnwidth="12" name="gridcolumn20_1">
                                        <wm-form-field name="isActiveFlag" displayname="Is Active Flag" show="true" primary-key="false" generator="assigned" key="isActiveFlag" type="boolean" is-related="false" pc-display="true" mobile-display="true" widget="checkbox"
                                        regexp=".*" placeholder=""></wm-form-field>
                                    </wm-gridcolumn>
                                </wm-gridrow>
                                <wm-gridrow name="gridrow21_1">
                                    <wm-gridcolumn columnwidth="12" name="gridcolumn21_1">
                                        <wm-form-field name="storedProcedure" displayname="Stored Procedure" show="true" primary-key="false" generator="assigned" key="storedProcedure" type="string" is-related="false" pc-display="true" mobile-display="true"
                                        widget="text" maxchars="255" inputtype="text" regexp=".*" placeholder="Enter value"></wm-form-field>
                                    </wm-gridcolumn>
                                </wm-gridrow>
                            </wm-layoutgrid>
                            <wm-form-action key="cancel" display-name="Cancel" show="true" class="form-cancel btn-secondary" iconclass="wi wi-cancel" title="Cancel" action="cancel()" type="button" update-mode="true"></wm-form-action>
                            <wm-form-action key="save" display-name="Save" show="true" class="form-save btn-success" iconclass="wi wi-save" title="Save" type="submit" update-mode="true"></wm-form-action>
                        </wm-liveform>
                    </wm-livegrid>
                </wm-tabpane>
            </wm-tabs>
        </wm-page-content>
    </wm-content>
    <wm-footer content="footer" name="footer1"></wm-footer>
</wm-page>